@charset 'utf-8';
.section--01 .row--in_half .clm--1st {
  padding-top: 120px;
  border-top: 2px solid #c5cecd;
}
.section--01 .row--in_half .clm--1st .headline--en {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .section--01 .row--in_half .clm--1st {
    padding-top: 60px;
  }
  .section--01 .row--in_half .clm--1st .headline--en {
    margin-bottom: 20px;
  }
}
.section--02 {
  margin-bottom: 80px;
}
.section--02 .row {
  margin-bottom: 20px;
}
.section--02 .row--in_half {
  margin-top: 80px;
}
.section--02 .row--in_half .clm--1st .headline--en {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .section--02 {
    margin-bottom: 40px;
  }
  .section--02 .row--in_half {
    margin-top: 40px;
  }
  .section--02 .row--in_half .clm--1st .headline--en {
    margin-bottom: 20px;
  }
}
.section--03 {
  margin-bottom: 90px;
}
.section--04 {
  margin-bottom: 120px;
}
.section--04 .headline--03 {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .section--04 {
    margin-bottom: 60px;
  }
  .section--04 .headline--03 {
    margin-bottom: 15px;
  }
}
.section--05 {
  margin-bottom: 90px;
}
.section--05 .headline--03 {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .section--05 {
    margin-bottom: 45px;
  }
  .section--05 .headline--03 {
    margin-bottom: 10px;
  }
}
.section--06 {
  margin-bottom: 200px;
}
.section--06 .headline--03 {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .section--06 {
    margin-bottom: 100px;
  }
  .section--06 .headline--03 {
    margin-bottom: 5px;
  }
}
.section--07 {
  margin-bottom: 200px;
}
.section--07 .tab {
  margin-bottom: 40px;
  border-bottom: 1px solid #c5cecd;
  font-family: 'Noto Serif Japanese', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
}
@media screen and (max-width: 768px) {
  .section--07 .tab {
    border-bottom: none;
  }
}
.section--07 .tab .row--01 {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .section--07 .tab .row--01 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 5px;
  }
}
.section--07 .tab li {
  position: relative;
  padding-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}
.section--07 .tab li:last-child {
  margin-right: 0;
}
.section--07 .tab li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #039089;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media screen and (max-width: 768px) {
  .section--07 .tab li:after {
    height: 3px;
    border-bottom: 1px solid #c5cecd;
  }
}
.section--07 .tab li.select:after,
.section--07 .tab li:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.section--07 .tab--contents__content .headline--en {
  margin-bottom: 25px;
}
.section--07 .tab--contents__content .headline--02 {
  margin-bottom: 60px;
}
.section--07 .floorPlanList__blockMarker-box {
  max-width: 500px;
  margin: 0 auto;
}
.section--07 .floorPlanList .row--in_one-third {
  margin-bottom: 90px;
}
.section--07 .floorPlanList .row--in_one-third li a {
  display: inline-block;
}
.section--07 .floorPlanList__figure {
  margin-bottom: 15px;
}
.section--07 .floorPlanList__spec {
  font-size: 24px;
  font-family: 'EBGaramond', serif;
  letter-spacing: normal;
}
.section--07 .floorPlanList__spec__num {
  font-size: 34px;
  line-height: 1;
}
.section--07 .floorPlanList__spec__area {
  font-size: 16px;
}
.section--07 .floorPlanList__more {
  position: relative;
  font-family: 'EBGaramond', serif;
  font-size: 12px;
  line-height: 1;
  text-align: right;
}
.section--07 .floorPlanList__more span {
  display: inline-block;
  padding-left: 10px;
  background-color: #fff;
}
.section--07 .floorPlanList__more:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  border-bottom: 1px solid #dcdcdc;
  z-index: -1;
}
.section--07 .floorPlanList__btn {
  margin: 0 auto;
}
.section--07 .floorPlanList__btn li {
  width: 170px;
  margin: 0 40px;
}
.section--07 .floorPlanList__btn li a {
  display: block;
  padding: 12px 0;
  background-color: #fff;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}
.section--07 .floorPlanList__btn__print a {
  border: 1px solid #3f5d5b;
}
.section--07 .floorPlanList__btn__print a:before {
  background-color: #3f5d5b;
}
.section--07 .floorPlanList__btn__print a:hover {
  color: #3f5d5b;
}
.section--07 .floorPlanList__btn__close a {
  border: 1px solid #333;
}
.section--07 .floorPlanList__btn__close a:before {
  background-color: #333;
}
.section--07 .floorPlanList__btn__close a:hover {
  color: #333;
}
@media screen and (max-width: 768px) {
  .section--07 {
    margin-bottom: 100px;
  }
  .section--07 .tab {
    width: 100%;
    margin: 0 0 30px;
    padding-left: 0;
  }
  .section--07 .tab li {
    width: 33%;
    margin: 0 0 10px 0;
    padding-right: 2%;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 13px;
    line-height: 1;
/*
          &:nth-last-child(-n + 4) {
            margin-bottom: 0;
          }
          */
  }
  .section--07 .tab li:nth-child(3n) {
    margin-right: 0;
  }
  .section--07 .tab--contents {
    margin-bottom: 0;
  }
  .section--07 .tab--contents__content .headline--en {
    margin-bottom: 15px;
  }
  .section--07 .tab--contents__content .headlone--02 {
    margin-bottom: 30px;
  }
  .section--07 .floorPlanList .row--in_one-third {
    margin-bottom: 45px;
  }
  .section--07 .floorPlanList__figure {
    margin-bottom: 10px;
  }
  .section--07 .floorPlanList__spec {
    font-size: 19px;
  }
  .section--07 .floorPlanList__spec__num {
    font-size: 27px;
  }
  .section--07 .floorPlanList__spec__area {
    font-size: 13px;
  }
  .section--07 .floorPlanList__btn li {
    margin: 0 auto 20px;
  }
  .section--07 .floorPlanList__btn li:last-child {
    margin-bottom: 0;
  }
  .section--07 .floorPlanList__btn__print {
    display: none;
  }
  .section--07 .floorPlanList__btn__close a:hover {
    color: #fff;
  }
}
.section--08 {
  margin-bottom: 280px;
}
.section--08--01 {
  margin-bottom: 130px;
}
.section--08__row {
  padding: 50px 40px 45px;
  background-color: #f7f7f7;
}
.section--08__row--01 {
  padding: 50px 30px 0;
}
.section--08__row--01 .clm--w460 {
  padding-bottom: 30px;
}
.section--08__row--01 .clm--w300 {
  padding-bottom: 10px;
}
.section--08__row--01 .clm--w600 {
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .section--08__row--01 .clm--w460 {
    padding-bottom: 0;
  }
  .section--08__row--01 .clm--w460--01 {
    padding-bottom: 10px;
  }
  .section--08__row--01 .clm--w300 {
    padding-bottom: 0;
  }
  .section--08__row--01 .clm--w600 {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .section--08__row--01 .text {
    margin-bottom: 40px;
  }
}
.section--08__row--02 {
  padding: 50px 30px 10px;
}
.section--08__row--02 .clm--w460 {
  padding-bottom: 30px;
}
.section--08__row--02 .clm--w300 {
  padding-bottom: 10px;
  width: calc(300% / 940 * 100);
}
.section--08__row--02 .clm--w600 {
  padding-bottom: 10px;
  width: calc(630% / 940 * 100);
}
@media screen and (max-width: 768px) {
  .section--08__row--02 .clm--w460 {
    padding-bottom: 0;
  }
  .section--08__row--02 .clm--w300 {
    padding-bottom: 10px;
  }
  .section--08__row--02 .clm--w600 {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .section--08__row--02 .text {
    margin-bottom: 40px;
  }
}
.section--08__row--03 {
  padding: 30px 30px 20px;
}
.section--08 .clm--2nd .headline--03 {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .section--08 {
    margin-bottom: 80px;
  }
  .section--08__row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 20px;
  }
  .section--08 .clm--2nd {
    margin-top: 40px;
  }
  .section--08 .clm--2nd .headline--03 {
    margin-bottom: 15px;
  }
}
.section--09 {
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .section--09 {
    margin-bottom: 45px;
  }
}
.section--09 .section__head,
.section--10 .section__head,
.section--11 .section__head,
.section--12 .section__head {
  margin-bottom: 50px;
  padding: 131px 0 131px 50px;
}
.section--09 .section__contents,
.section--10 .section__contents,
.section--11 .section__contents,
.section--12 .section__contents {
  padding: 0 50px;
}
.section--09 .section__contents li,
.section--10 .section__contents li,
.section--11 .section__contents li,
.section--12 .section__contents li {
  width: 170px;
  margin-bottom: 30px;
}
.section--09 .section__contents li:nth-last-child(-n+2),
.section--10 .section__contents li:nth-last-child(-n+2),
.section--11 .section__contents li:nth-last-child(-n+2),
.section--12 .section__contents li:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.section--09 .section__contents li .inner,
.section--10 .section__contents li .inner,
.section--11 .section__contents li .inner,
.section--12 .section__contents li .inner {
  max-width: 170px;
}
.section--09 .section__contents li figcaption,
.section--10 .section__contents li figcaption,
.section--11 .section__contents li figcaption,
.section--12 .section__contents li figcaption {
  color: #222;
  font-size: 13px;
  letter-spacing: normal;
}
.section--09 .lead,
.section--10 .lead,
.section--11 .lead,
.section--12 .lead {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .section--09 .section__head,
  .section--10 .section__head,
  .section--11 .section__head,
  .section--12 .section__head {
    margin-bottom: 25px;
    padding: 65px 0;
    text-align: center;
  }
  .section--09 .section__contents,
  .section--10 .section__contents,
  .section--11 .section__contents,
  .section--12 .section__contents {
    padding: 0 25px;
  }
  .section--09 .section__contents--spmax,
  .section--10 .section__contents--spmax,
  .section--11 .section__contents--spmax,
  .section--12 .section__contents--spmax {
    padding: 0;
  }
  .section--09 .section__contents .clm--1st,
  .section--10 .section__contents .clm--1st,
  .section--11 .section__contents .clm--1st,
  .section--12 .section__contents .clm--1st {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 40px;
  }
  .section--09 .section__contents .clm--2nd,
  .section--10 .section__contents .clm--2nd,
  .section--11 .section__contents .clm--2nd,
  .section--12 .section__contents .clm--2nd {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .section--09 .section__contents li,
  .section--10 .section__contents li,
  .section--11 .section__contents li,
  .section--12 .section__contents li {
    width: 48%;
    margin-bottom: 15px;
  }
  .section--09 .section__contents li:nth-last-child(-n+2),
  .section--10 .section__contents li:nth-last-child(-n+2),
  .section--11 .section__contents li:nth-last-child(-n+2),
  .section--12 .section__contents li:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .section--09 .section__contents li figcaption,
  .section--10 .section__contents li figcaption,
  .section--11 .section__contents li figcaption,
  .section--12 .section__contents li figcaption {
    font-size: 11px;
  }
  .section--09 .lead,
  .section--10 .lead,
  .section--11 .lead,
  .section--12 .lead {
    margin-bottom: 25px;
  }
}
.section--09 .section__head {
  background: url("../imgs/bg-shopping.jpg") no-repeat center center;
  background-size: cover;
}
.section--10 .section__head {
  background: url("../imgs/bg-medical.jpg") no-repeat center center;
  background-size: cover;
}
.section--11 {
  margin-bottom: 50px;
}
.section--11 .section__head {
  margin-bottom: 0;
  background: url("../imgs/bg-education.jpg") no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .section--11 {
    margin-bottom: 25px;
  }
}
.section--12 {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .section--12 {
    margin-bottom: 25px;
  }
}
.section--12 .section__head {
  margin-bottom: 0;
  background: url("../imgs/bg-nature.jpg") no-repeat center center;
  background-size: cover;
}
.section__title--en {
  padding-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .section__title--en {
    padding-bottom: 45px;
  }
}
.plotList {
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .plotList {
    margin-top: 20px;
    font-size: 12px;
  }
}
.plotList__item {
  position: relative;
  padding-bottom: 10px;
  padding-left: 40px;
  line-height: 1.5em;
}
.plotList__num {
  position: absolute;
  left: 0;
  top: 0.2em;
  width: calc(20em / 13);
  height: calc(20em / 13);
  line-height: calc(20em / 13);
  background-color: #434343;
  border-radius: 50%;
  letter-spacing: 0;
  text-align: center;
  font-family: "游明朝", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: calc(14em / 13);
  font-style: normal;
  color: #fff;
}
.w100 {
  width: 100%;
}
.leaflet-container {
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */