@charset 'utf-8';
.section--01 {
  margin-bottom: 110px;
}
.section--01 .headline--01 {
  margin-bottom: 25px;
}
.section--01 .row--in_half .clm--1st {
  padding-top: 120px;
  border-top: 2px solid #c5cecd;
}
.section--01 .row--in_half .clm--1st .headline--en {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .section--01 {
    margin-bottom: 55px;
  }
  .section--01 .row--in_half .clm--1st {
    padding-top: 60px;
  }
  .section--01 .row--in_half .clm--1st .headline--en {
    margin-bottom: 20px;
  }
}
.section--02 {
  margin-bottom: 80px;
}
.section--02 .row {
  margin-bottom: 20px;
}
.section--02 .row--in_half {
  margin-top: 80px;
}
.section--02 .row--in_half .clm--1st .headline--en {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .section--02 {
    margin-bottom: 40px;
  }
  .section--02 .row--in_half {
    margin-top: 40px;
  }
  .section--02 .row--in_half .clm--1st .headline--en {
    margin-bottom: 20px;
  }
}
.section--04 {
  margin-bottom: 120px;
  margin-top: 140px;
}
.section--04 .headline--03 {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .section--04 {
    margin-bottom: 60px;
    margin-top: 70px;
  }
  .section--04 .headline--03 {
    margin-bottom: 15px;
  }
}
.section--05 {
  margin-bottom: 90px;
}
.section--05 .headline--03 {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .section--05 {
    margin-bottom: 45px;
  }
  .section--05 .headline--03 {
    margin-bottom: 10px;
  }
}
.section--06 {
  margin-bottom: 200px;
}
.section--06 .headline--03 {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .section--06 {
    margin-bottom: 100px;
  }
  .section--06 .headline--03 {
    margin-bottom: 5px;
  }
}
.section--07 {
  margin-bottom: 200px;
}
.section--07 .tab {
  width: calc((780 / 1000 * 100%) + ((100vw - 1000px) / 2));
  margin: 0 0 60px calc(((100vw - 1000px) / 2) * -1);
  padding-left: calc(((100vw - 1000px) / 2));
  border-bottom: 1px solid #c5cecd;
  font-family: 'Noto Serif Japanese', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
}
.section--07 .tab li {
  position: relative;
  margin-right: calc(50 / 780 * 100%);
  padding-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}
.section--07 .tab li:last-child {
  margin-right: 0;
}
.section--07 .tab li.select:after,
.section--07 .tab li:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-bottom: 3px solid #039089;
}
.section--07 .tab--contents {
  margin-bottom: 190px;
}
.section--07 .tab--contents__content .headline--en {
  margin-bottom: 25px;
}
.section--07 .tab--contents__content .headline--02 {
  margin-bottom: 60px;
}
.section--07 .floorPlanList .row--in_one-third {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section--07 .row--in_one-third .clm,
.section--07 .row--in_one-third li {
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  .section--07 .row--in_one-third .clm,
  .section--07 .row--in_one-third li {
    margin-right: 0;
    display: inline-block;
    width: 100%;
  }
}
.section--07 .row--in_one-third .clm:last-child,
.section--07 .row--in_one-third li:last-child {
  margin-right: 0;
}
.section--07 .floorPlanList__headline {
  padding-bottom: 10px;
  font-size: 24px;
  letter-spacing: 0.15em;
  line-height: 1em;
  color: #009e96;
}
@media screen and (max-width: 768px) {
  .section--07 .floorPlanList__headline {
    font-size: calc(24px * 0.8);
  }
}
.section--07 .floorPlanList__headline .size--01 {
  font-size: calc(34em / 24);
  letter-spacing: 0.15em;
}
.section--07 .floorPlanList__blockMarker-box {
  max-width: 500px;
  margin: 0 auto;
}
.section--07 .floorPlanList .row--in_one-third {
  margin-bottom: 90px;
}
.section--07 .floorPlanList .row--in_one-third li a {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .section--07 .floorPlanList .row--in_one-third li a {
    width: 100%;
  }
}
.section--07 .floorPlanList__figure {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .section--07 .floorPlanList__figure img {
    width: 100%;
  }
}
.section--07 .floorPlanList__spec {
  font-size: 24px;
  font-family: 'EBGaramond', serif;
  letter-spacing: normal;
}
.section--07 .floorPlanList__spec__num {
  font-size: 34px;
  line-height: 1;
}
.section--07 .floorPlanList__spec__area {
  font-size: 16px;
}
.section--07 .floorPlanList__more {
  position: relative;
  font-family: 'EBGaramond', serif;
  font-size: 12px;
  line-height: 1;
  text-align: right;
}
.section--07 .floorPlanList__more span {
  display: inline-block;
  padding-left: 10px;
  background-color: #fff;
}
.section--07 .floorPlanList__more:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  border-bottom: 1px solid #dcdcdc;
  z-index: -1;
}
.section--07 .floorPlanList__btn {
  margin: 0 auto;
}
.section--07 .floorPlanList__btn li {
  width: 170px;
  margin: 0 40px;
}
.section--07 .floorPlanList__btn li a {
  display: block;
  padding: 12px 0;
  background-color: #fff;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}
.section--07 .floorPlanList__btn__print a {
  border: 1px solid #3f5d5b;
}
.section--07 .floorPlanList__btn__print a:before {
  background-color: #3f5d5b;
}
.section--07 .floorPlanList__btn__print a:hover {
  color: #3f5d5b;
}
.section--07 .floorPlanList__btn__close a {
  border: 1px solid #333;
}
.section--07 .floorPlanList__btn__close a:before {
  background-color: #333;
}
.section--07 .floorPlanList__btn__close a:hover {
  color: #333;
}
@media screen and (max-width: 768px) {
  .section--07 {
    margin-bottom: 100px;
  }
  .section--07 .tab {
    width: 100%;
    margin: 0 0 30px;
    padding-left: 0;
  }
  .section--07 .tab li {
    width: 32%;
    margin: 0 2% 10px 0;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 13px;
    line-height: 1;
  }
  .section--07 .tab li:nth-child(3n) {
    margin-right: 0;
  }
  .section--07 .tab li:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
  .section--07 .tab li:hover:after {
    display: none;
  }
  .section--07 .tab--contents {
    margin-bottom: 95px;
  }
  .section--07 .tab--contents__content .headline--en {
    margin-bottom: 15px;
  }
  .section--07 .tab--contents__content .headlone--02 {
    margin-bottom: 30px;
  }
  .section--07 .floorPlanList .row--in_one-third {
    margin-bottom: 45px;
  }
  .section--07 .floorPlanList__figure {
    margin-bottom: 10px;
  }
  .section--07 .floorPlanList__spec {
    font-size: 19px;
  }
  .section--07 .floorPlanList__spec__num {
    font-size: 27px;
  }
  .section--07 .floorPlanList__spec__area {
    font-size: 13px;
  }
  .section--07 .floorPlanList__btn li {
    margin: 0 auto 20px;
  }
  .section--07 .floorPlanList__btn li:last-child {
    margin-bottom: 0;
  }
  .section--07 .floorPlanList__btn__print {
    display: none;
  }
  .section--07 .floorPlanList__btn__close a:hover {
    color: #fff;
  }
}
.section--08 {
  margin-bottom: 280px;
}
.section--08__row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 40px 45px;
  background-color: #f7f7f7;
}
.section--08 .clm--2nd .headline--03 {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .section--08 {
    margin-bottom: 140px;
  }
  .section--08__row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 20px;
  }
  .section--08 .clm--2nd {
    margin-top: 40px;
  }
  .section--08 .clm--2nd .headline--03 {
    margin-bottom: 15px;
  }
}
.section--09 .section__head,
.section--10 .section__head,
.section--11 .section__head,
.section--12 .section__head {
  margin-bottom: 50px;
  padding: 131px 0 131px 50px;
}
.section--09 .section__contents,
.section--10 .section__contents,
.section--11 .section__contents,
.section--12 .section__contents {
  padding: 0 50px;
}
.section--09 .section__contents li,
.section--10 .section__contents li,
.section--11 .section__contents li,
.section--12 .section__contents li {
  width: 170px;
  margin-bottom: 30px;
}
.section--09 .section__contents li:nth-last-child(-n+2),
.section--10 .section__contents li:nth-last-child(-n+2),
.section--11 .section__contents li:nth-last-child(-n+2),
.section--12 .section__contents li:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.section--09 .section__contents li .inner,
.section--10 .section__contents li .inner,
.section--11 .section__contents li .inner,
.section--12 .section__contents li .inner {
  max-width: 170px;
}
.section--09 .section__contents li figcaption,
.section--10 .section__contents li figcaption,
.section--11 .section__contents li figcaption,
.section--12 .section__contents li figcaption {
  color: #222;
  font-size: 13px;
  letter-spacing: normal;
}
.section--09 .lead,
.section--10 .lead,
.section--11 .lead,
.section--12 .lead {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .section--09 .section__head,
  .section--10 .section__head,
  .section--11 .section__head,
  .section--12 .section__head {
    margin-bottom: 25px;
    padding: 65px 0;
    text-align: center;
  }
  .section--09 .section__contents,
  .section--10 .section__contents,
  .section--11 .section__contents,
  .section--12 .section__contents {
    padding: 0 25px;
  }
  .section--09 .section__contents .clm--1st,
  .section--10 .section__contents .clm--1st,
  .section--11 .section__contents .clm--1st,
  .section--12 .section__contents .clm--1st {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 40px;
  }
  .section--09 .section__contents .clm--2nd,
  .section--10 .section__contents .clm--2nd,
  .section--11 .section__contents .clm--2nd,
  .section--12 .section__contents .clm--2nd {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .section--09 .section__contents li,
  .section--10 .section__contents li,
  .section--11 .section__contents li,
  .section--12 .section__contents li {
    width: 48%;
    margin-bottom: 15px;
  }
  .section--09 .section__contents li:nth-last-child(-n+2),
  .section--10 .section__contents li:nth-last-child(-n+2),
  .section--11 .section__contents li:nth-last-child(-n+2),
  .section--12 .section__contents li:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .section--09 .section__contents li figcaption,
  .section--10 .section__contents li figcaption,
  .section--11 .section__contents li figcaption,
  .section--12 .section__contents li figcaption {
    font-size: 11px;
  }
  .section--09 .lead,
  .section--10 .lead,
  .section--11 .lead,
  .section--12 .lead {
    margin-bottom: 25px;
  }
}
.section--09 .section__head {
  background: url("../imgs/bg-shopping.jpg") no-repeat center center;
  background-size: cover;
}
.section--10 .section__head {
  background: url("../imgs/bg-medical.jpg") no-repeat center center;
  background-size: cover;
}
.section--11 {
  margin-bottom: 50px;
}
.section--11 .section__head {
  margin-bottom: 0;
  background: url("../imgs/bg-education.jpg") no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .section--11 {
    margin-bottom: 25px;
  }
}
.section--12 .section__head {
  margin-bottom: 0;
  background: url("../imgs/bg-nature.jpg") no-repeat center center;
  background-size: cover;
}
.equipment {
  background: url("../imgs/bg-equipment.jpg") no-repeat top center;
  background-size: cover;
  padding: 80px 0 100px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .equipment {
    padding: 40px 0 50px;
  }
}
.equipment .cap--right {
  color: #fff;
}
.equipment .headline--02 {
  margin-bottom: 0px;
}
.equipment .headline--03 {
  margin-bottom: 15px;
}
.section--04 .headline--en {
  padding-bottom: 20px;
}
.section--04 .headline--02 {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .section--04 .headline--02 {
    margin-bottom: 20px;
  }
}
.section--04 .text {
  text-align: justify;
}
.planFlow {
  margin-bottom: -50px;
}
@media screen and (max-width: 768px) {
  .planFlow {
    margin-bottom: -30px;
  }
}
.planFlow .clm {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .planFlow .clm {
    margin-bottom: 30px;
  }
}
.planFlow .caption--right {
  color: #fff;
}
.planFlow .imageWrap {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .planFlow .imageWrap {
    margin-bottom: 15px;
  }
}
.planFlow .text {
  margin-top: 15px;
  font-size: 13px;
  text-align: justify;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .planFlow .text {
    margin-top: 10px;
    font-size: 12px;
  }
}
.planFlow__title {
  font-size: 14px;
  font-family: 'EB Garamond', serif;
  letter-spacing: 0.16em;
}
@media screen and (max-width: 768px) {
  .planFlow__title {
    font-size: 13px;
  }
}
.planFlow__title__hyphen {
  padding: 0 4px;
}
.planFlow__headline {
  color: #009e96;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .planFlow__headline {
    font-size: 15px;
  }
}
.detailSpec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px solid #009e96;
  padding-top: 30px;
  font-size: 14px;
  line-height: 1em;
}
@media screen and (max-width: 768px) {
  .detailSpec {
    font-size: 12px;
    line-height: 2.4em;
  }
}
.detailSpec__type {
  width: 220px;
}
.detailSpec__ldk {
  width: 250px;
}
.detailSpec__basis {
  width: 220px;
}
.detailSpec__balcony {
  width: 230px;
}
@media screen and (max-width: 768px) {
  .detailSpec__type {
    width: 100%;
    text-align: center;
  }
  .detailSpec__ldk {
    width: 100%;
    text-align: center;
  }
  .detailSpec__basis {
    width: 100%;
    text-align: center;
  }
  .detailSpec__balcony {
    width: 100%;
    text-align: center;
  }
}
.detailSpec .size--01 {
  font-size: calc(34em / 14);
}
.detailSpec .size--02 {
  font-size: calc(24em / 14);
}
.detailSpec .size--03 {
  font-size: calc(16em / 14);
}
.detailSpec .size--04 {
  font-size: calc(12em / 14);
}
.madori {
  background-color: #f7f7f7;
  padding: 30px;
}
.madori__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.madori__legend {
  text-align: right;
}
.legend {
  display: block;
  width: 25px;
  height: 10px;
  margin-left: 10px;
  margin-right: 5px;
}
.legend--storage {
  background-color: #c6dee4;
}
.legend--heater {
  background-color: #f4e6e5;
}
.legend--light::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: url("../../assets/imgs/icn-light.png") no-repeat;
  background-size: 100%;
  background-position: center center;
}
.legend--window::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: url("../../assets/imgs/icn-window.png") no-repeat;
  background-size: 100%;
  background-position: center center;
}
@media print {
  header,
  footer,
  .box-bukken-contact,
  .box-bukken,
  .ttl-property-main,
  .area-user-footer.area-user-footer-prpperty,
  .not-print,
  .print,
  .mainVisual,
  .btmCv,
  .floorPlanList {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */