@charset 'utf-8';
.section--01 .headline--01 {
  margin-bottom: 200px;
}
.section--01 .row--in_half .clm--1st {
  padding-top: 120px;
  border-top: 2px solid #c5cecd;
}
.section--01 .row--in_half .clm--1st .headline--en {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .section--01 .headline--01 {
    margin-bottom: 100px;
  }
  .section--01 .row--in_half .clm--1st {
    padding-top: 60px;
  }
  .section--01 .row--in_half .clm--1st .headline--en {
    margin-bottom: 20px;
  }
}
.section--02 .row--in_half {
  margin-top: 160px;
}
.section--02 .row--in_half .clm--1st .headline--en {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .section--02 {
    margin-bottom: 40px;
  }
  .section--02 .row--in_half {
    margin-top: 40px;
  }
  .section--02 .row--in_half .clm--1st .headline--en {
    margin-bottom: 20px;
  }
}
.section--04 {
  margin-bottom: 120px;
}
.section--04 .headline--03 {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .section--04 {
    margin-bottom: 60px;
  }
  .section--04 .headline--03 {
    margin-bottom: 15px;
  }
}
.section--05 {
  margin-bottom: 90px;
}
.section--05 .headline--03 {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .section--05 {
    margin-bottom: 45px;
  }
  .section--05 .headline--03 {
    margin-bottom: 10px;
  }
}
.section--06 {
  margin-bottom: 200px;
}
.section--06 .headline--03 {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .section--06 {
    margin-bottom: 100px;
  }
  .section--06 .headline--03 {
    margin-bottom: 5px;
  }
}
.section--07 {
  margin-bottom: 200px;
}
.section--07 .tab {
  width: calc((780 / 1000 * 100%) + ((100vw - 1000px) / 2));
  margin: 0 0 60px calc(((100vw - 1000px) / 2) * -1);
  padding-left: calc(((100vw - 1000px) / 2));
  border-bottom: 1px solid #c5cecd;
  font-family: 'Noto Serif Japanese', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
}
.section--07 .tab li {
  position: relative;
  margin-right: calc(50 / 780 * 100%);
  padding-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}
.section--07 .tab li:last-child {
  margin-right: 0;
}
.section--07 .tab li.select:after,
.section--07 .tab li:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-bottom: 3px solid #039089;
}
.section--07 .tab--contents {
  margin-bottom: 190px;
}
.section--07 .tab--contents__content .headline--en {
  margin-bottom: 25px;
}
.section--07 .tab--contents__content .headline--02 {
  margin-bottom: 60px;
}
.section--07 .floorPlanList__blockMarker-box {
  max-width: 500px;
  margin: 0 auto;
}
.section--07 .floorPlanList .row--in_one-third {
  margin-bottom: 90px;
}
.section--07 .floorPlanList .row--in_one-third li a {
  display: inline-block;
}
.section--07 .floorPlanList__figure {
  margin-bottom: 15px;
}
.section--07 .floorPlanList__spec {
  font-size: 24px;
  font-family: 'EBGaramond', serif;
  letter-spacing: normal;
}
.section--07 .floorPlanList__spec__num {
  font-size: 34px;
  line-height: 1;
}
.section--07 .floorPlanList__spec__area {
  font-size: 16px;
}
.section--07 .floorPlanList__more {
  position: relative;
  font-family: 'EBGaramond', serif;
  font-size: 12px;
  line-height: 1;
  text-align: right;
}
.section--07 .floorPlanList__more span {
  display: inline-block;
  padding-left: 10px;
  background-color: #fff;
}
.section--07 .floorPlanList__more:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  border-bottom: 1px solid #dcdcdc;
  z-index: -1;
}
.section--07 .floorPlanList__btn {
  margin: 0 auto;
}
.section--07 .floorPlanList__btn li {
  width: 170px;
  margin: 0 40px;
}
.section--07 .floorPlanList__btn li a {
  display: block;
  padding: 12px 0;
  background-color: #fff;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}
.section--07 .floorPlanList__btn__print a {
  border: 1px solid #3f5d5b;
}
.section--07 .floorPlanList__btn__print a:before {
  background-color: #3f5d5b;
}
.section--07 .floorPlanList__btn__print a:hover {
  color: #3f5d5b;
}
.section--07 .floorPlanList__btn__close a {
  border: 1px solid #333;
}
.section--07 .floorPlanList__btn__close a:before {
  background-color: #333;
}
.section--07 .floorPlanList__btn__close a:hover {
  color: #333;
}
@media screen and (max-width: 768px) {
  .section--07 {
    margin-bottom: 100px;
  }
  .section--07 .tab {
    width: 100%;
    margin: 0 0 30px;
    padding-left: 0;
  }
  .section--07 .tab li {
    width: 32%;
    margin: 0 2% 10px 0;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 13px;
    line-height: 1;
  }
  .section--07 .tab li:nth-child(3n) {
    margin-right: 0;
  }
  .section--07 .tab li:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
  .section--07 .tab li:hover:after {
    display: none;
  }
  .section--07 .tab--contents {
    margin-bottom: 95px;
  }
  .section--07 .tab--contents__content .headline--en {
    margin-bottom: 15px;
  }
  .section--07 .tab--contents__content .headlone--02 {
    margin-bottom: 30px;
  }
  .section--07 .floorPlanList .row--in_one-third {
    margin-bottom: 45px;
  }
  .section--07 .floorPlanList__figure {
    margin-bottom: 10px;
  }
  .section--07 .floorPlanList__spec {
    font-size: 19px;
  }
  .section--07 .floorPlanList__spec__num {
    font-size: 27px;
  }
  .section--07 .floorPlanList__spec__area {
    font-size: 13px;
  }
  .section--07 .floorPlanList__btn li {
    margin: 0 auto 20px;
  }
  .section--07 .floorPlanList__btn li:last-child {
    margin-bottom: 0;
  }
  .section--07 .floorPlanList__btn__print {
    display: none;
  }
  .section--07 .floorPlanList__btn__close a:hover {
    color: #fff;
  }
}
.section--08 {
  margin-bottom: 0px;
}
.section--08__row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px;
  background-color: #f7f7f7;
}
.section--08 .clm--2nd .headline--03 {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .section--08 {
    margin-bottom: 140px;
  }
  .section--08__row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 20px;
  }
  .section--08 .clm--2nd {
    margin-top: 40px;
  }
  .section--08 .clm--2nd .headline--03 {
    margin-bottom: 15px;
  }
}
.section--09 .section__head,
.section--10 .section__head,
.section--11 .section__head,
.section--12 .section__head {
  margin-bottom: 50px;
  padding: 131px 0 131px 50px;
}
.section--09 .section__contents,
.section--10 .section__contents,
.section--11 .section__contents,
.section--12 .section__contents {
  padding: 0 50px;
}
.section--09 .section__contents li,
.section--10 .section__contents li,
.section--11 .section__contents li,
.section--12 .section__contents li {
  width: 170px;
  margin-bottom: 30px;
}
.section--09 .section__contents li:nth-last-child(-n+2),
.section--10 .section__contents li:nth-last-child(-n+2),
.section--11 .section__contents li:nth-last-child(-n+2),
.section--12 .section__contents li:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.section--09 .section__contents li .inner,
.section--10 .section__contents li .inner,
.section--11 .section__contents li .inner,
.section--12 .section__contents li .inner {
  max-width: 170px;
}
.section--09 .section__contents li figcaption,
.section--10 .section__contents li figcaption,
.section--11 .section__contents li figcaption,
.section--12 .section__contents li figcaption {
  color: #222;
  font-size: 13px;
  letter-spacing: normal;
}
.section--09 .lead,
.section--10 .lead,
.section--11 .lead,
.section--12 .lead {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .section--09 .section__head,
  .section--10 .section__head,
  .section--11 .section__head,
  .section--12 .section__head {
    margin-bottom: 25px;
    padding: 65px 0;
    text-align: center;
  }
  .section--09 .section__contents,
  .section--10 .section__contents,
  .section--11 .section__contents,
  .section--12 .section__contents {
    padding: 0 25px;
  }
  .section--09 .section__contents .clm--1st,
  .section--10 .section__contents .clm--1st,
  .section--11 .section__contents .clm--1st,
  .section--12 .section__contents .clm--1st {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 40px;
  }
  .section--09 .section__contents .clm--2nd,
  .section--10 .section__contents .clm--2nd,
  .section--11 .section__contents .clm--2nd,
  .section--12 .section__contents .clm--2nd {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .section--09 .section__contents li,
  .section--10 .section__contents li,
  .section--11 .section__contents li,
  .section--12 .section__contents li {
    width: 48%;
    margin-bottom: 15px;
  }
  .section--09 .section__contents li:nth-last-child(-n+2),
  .section--10 .section__contents li:nth-last-child(-n+2),
  .section--11 .section__contents li:nth-last-child(-n+2),
  .section--12 .section__contents li:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .section--09 .section__contents li figcaption,
  .section--10 .section__contents li figcaption,
  .section--11 .section__contents li figcaption,
  .section--12 .section__contents li figcaption {
    font-size: 11px;
  }
  .section--09 .lead,
  .section--10 .lead,
  .section--11 .lead,
  .section--12 .lead {
    margin-bottom: 25px;
  }
}
.section--09 .section__head {
  background: url("../imgs/bg-shopping.jpg") no-repeat center center;
  background-size: cover;
}
.section--10 .section__head {
  background: url("../imgs/bg-medical.jpg") no-repeat center center;
  background-size: cover;
}
.section--11 {
  margin-bottom: 50px;
}
.section--11 .section__head {
  margin-bottom: 0;
  background: url("../imgs/bg-education.jpg") no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .section--11 {
    margin-bottom: 25px;
  }
}
.section--12 .section__head {
  margin-bottom: 0;
  background: url("../imgs/bg-nature.jpg") no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .section--08 {
    margin-bottom: 70px;
  }
}
.blockMarkerCnt--firstView .size--01 {
  font-size: calc(32em / 30);
}
.clm--350 {
  width: 350px;
}
.clm--640 {
  width: 640px;
}
@media screen and (max-width: 768px) {
  .clm--350 {
    max-width: 350px;
    margin: 0 auto;
  }
  .clm--640 {
    max-width: 640px;
    margin: 0 auto;
  }
}
.stationTime {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: -10px;
}
.stationTime__item {
  position: relative;
}
.stationTime__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  letter-spacing: 0.36em;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .stationTime__text {
    padding: 10px;
    font-size: calc(18vw / 5);
  }
}
.stationTime__text .size--01 {
  font-size: calc(28em / 20);
}
.stationTime__text .size--02 {
  font-size: calc(16em / 20);
}
.stationTime .clm {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .stationTime .clm {
    margin-bottom: 2px;
  }
}
.stationTime .clm--350 {
  width: calc(350% / 1000 * 100);
}
.stationTime .clm--640 {
  width: calc(640% / 1000 * 100);
}
.headline--02--01 {
  padding-top: 30px;
  margin-bottom: 0;
}
.headlineBlock {
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .headlineBlock {
    padding-bottom: 25px;
  }
}
.section--03 {
  margin-top: 160px;
}
@media screen and (max-width: 768px) {
  .section--03 {
    margin-top: 80px;
  }
}
.yumin {
  font-family: "游明朝", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.requestSearch {
  border: 1px solid #a8a6a2;
  padding: 30px;
}
@media screen and (max-width: 768px) {
  .requestSearch {
    padding: 10px;
  }
}
.requestSearch__text {
  font-size: 13px;
}
.bg-gray {
  background-color: #707070;
}
.bg-black {
  background-color: #000;
}
.icn-glass {
  padding-right: 5px;
}
.icn-half-arrow {
  padding: 0 30px;
  line-height: 0;
}
@media screen and (max-width: 768px) {
  .icn-half-arrow {
    padding: 0 10px;
    width: 50px;
  }
}
.rootSearch {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0 20px;
}
.rootSearch__box {
  width: 160px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 1em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .rootSearch__box {
    width: auto;
    font-size: 12px;
    padding: 10px 20px;
  }
}
.rootSearch__box--01 {
  margin-left: 50px;
}
@media screen and (max-width: 768px) {
  .rootSearch__box--01 {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
}
.rootSearch__input {
  width: 265px;
  border: 1px solid #222;
  padding: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .rootSearch__input {
    width: 50%;
    margin-right: 0px;
  }
}
.rootSearch__search {
  cursor: pointer;
}
.headline--en--01 {
  margin-bottom: 20px;
}
.accessText {
  margin-top: 10px;
  line-height: calc(26em / 14);
}
.accessText .size--01 {
  font-size: calc(30em / 14);
}
.accessText .size--02 {
  font-size: calc(20em / 14);
}
.ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ai-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.ai-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .ai-sp-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .ai-sp-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .ai-sp-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
.clm--w300 {
  width: 300px;
}
.clm--w300--01 {
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .clm--w300--01 {
    padding-top: 25px;
    width: calc(100% / 3 - 5px);
  }
}
.taxiAccess {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .taxiAccess {
    marign-bottom: 25px;
  }
}
.hanedaAirport {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .hanedaAirport {
    marign-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  .row--in_half .clm,
  .row--in_half li {
    margin-bottom: 0;
  }
}
.section--01 .headline--01 {
  margin-bottom: 0px;
}
.qaBlock {
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .qaBlock {
    font-size: 11px;
  }
}
.qaBlock__title {
  line-height: 1em;
}
.qaBlock .size--01 {
  font-size: calc(16em / 13);
}
.qaBlock .size--02 {
  font-size: calc(19em / 13);
}
.qaBlock .size--03 {
  font-size: calc(20em / 13);
}
.grayBlock {
  padding: 30px;
  background-color: #f7f7f7;
}
@media screen and (max-width: 768px) {
  .grayBlock {
    padding: 20px;
  }
}
.clm--w420 {
  width: 420px;
}
.clm--w440 {
  width: 440px;
}
.clm--w480 {
  width: 480px;
}
.clm--w40 {
  width: 40px;
}
@media screen and (max-width: 768px) {
  .clm--w420 {
    width: 100%;
  }
  .clm--w440 {
    width: calc(100% - 30px);
  }
  .clm--w480 {
    width: 100%;
  }
  .clm--w40 {
    width: 30px;
  }
}
.borderBlock {
  border: 1px solid #d2d2d2;
}
.borderBlock--01 {
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .borderBlock--01 {
    padding: 20px;
  }
}
.cap--right--01 {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .cap--right--01 {
    position: static;
  }
}

/*# sourceMappingURL=style.css.map */