@charset 'utf-8';
/* ================================================================================
  * common style
  *
  * 0. mixin  | 変数・ブレークポイント
  * 1. reset    | リセット
  * 2. base     | 基本スタイル設定
  * 3. util  | サイト内で使うクラス群
  * 4. layout   | 大枠スタイル
  * 5. module   | 共通パーツスタイル
  * 6. global   | general/module.css 変更
  * 7. global   | 同時進行で作業をすすめる用のcss
  * 8. limited   | limited用のcss
	*
================================================================================= */
/* --------------------------------------------------------------------------------
	1. reset
-------------------------------------------------------------------------------- */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
/* font-size: 100%; */
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
img {
  vertical-align: bottom;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
del,
ins {
  text-decoration: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}
mark {
  font-style: italic;
  font-weight: bold;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  font-size: 0.75em;
  vertical-align: 0.25em;
}
sub {
  font-size: 0.75em;
  vertical-align: -0.25em;
}
big {
  font-size: 110%;
}
small {
  font-size: 90%;
}
legend {
  color: #000;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: middle;
}
/* --------------------------------------------------------------------------------
	2. base
--------------------------------------------------------------------------------- */
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 200;
  src: url("../font/NotoSerifCJKjp-Light.woff") format('woff'), url("../font/NotoSerifCJKjp-Light.woff2") format('woff2');
}
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 400;
  src: url("../font/NotoSerifCJKjp-Regular.woff") format('woff'), url("../font/NotoSerifCJKjp-Regular.woff2") format('woff2');
}
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 700;
  src: url("../font/NotoSerifCJKjp-Bold.woff") format('woff'), url("../font/NotoSerifCJKjp-Bold.woff2") format('woff2');
}
@font-face {
  font-family: 'EBGaramond';
  font-style: normal;
  font-weight: 400;
  src: url("../font/EBGaramond-Regular.woff") format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'EBGaramond';
  font-style: normal;
  font-weight: 600;
  src: url("../font/EBGaramond-Bold.woff") format('opentype');
  font-display: swap;
}
body {
  background-color: #fff;
}
a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
sup {
  font-size: 10px;
  vertical-align: top;
}
@media print {
  body {
    zoom: 0.7;
  }
  .header,
  .footer {
    display: none;
  }
}
/* --------------------------------------------------------------------------------
	3. util
-------------------------------------------------------------------------------- */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0px;
  clear: both;
  line-height: 0;
  visibility: hidden;
}
.nav {
  zoom: 1;
}
.nav:after {
  content: '.';
  display: block;
  height: 0px;
  clear: both;
  line-height: 0;
  visibility: hidden;
}
#accessibilityNav {
  display: none;
}
#logtag {
  display: none;
}
.w100 {
  width: 100%;
}
.color-white {
  color: #fff;
}
.color-gray {
  color: #999;
}
/* --------------------------------------------------------------------------------
	4. layout
-------------------------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap {
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .wrap {
    width: auto;
    padding: 0 20px;
  }
}
.inner {
  margin: 0 auto;
}
.section:last-child {
  margin-bottom: 0;
}
.overlay {
  position: fixed;
  height: 100vh;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 99999;
}
.overlay--default {
  width: 100vw;
}
.overlay--click {
  width: 0;
}
.overlay--move {
  -webkit-animation: overlayMove 0.5s cubic-bezier(0.62, 0.01, 0.15, 1.13) forwards;
  animation: overlayMove 0.5s cubic-bezier(0.62, 0.01, 0.15, 1.13) forwards;
}
#siteCopy {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: #c6c6c6;
  color: #fff;
  font-size: 10px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #siteCopy {
    letter-spacing: 0.1em;
    line-height: 1.5;
  }
}
#gHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 16px 16px 24px;
  background: #fff;
  z-index: 9999;
}
#gHeader a {
  display: block;
  font-family: 'hareMin', serif;
  line-height: 1;
}
#gHeader > section,
#gHeader .navArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #gHeader {
    position: absolute;
    height: 56px;
    padding: 5px;
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #gHeader > section {
    height: 100%;
  }
  #gHeader > section {
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  #hdrLogo {
    width: 70px;
  }
}
#gNav {
  margin-right: 30px;
}
#gNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#gNav a {
  position: relative;
  padding: 10px;
  font-size: 12px;
}
#gNav a:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #e9ae30;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#gNav a:hover {
  color: #e9ae30;
}
#gNav a:hover:before {
  width: 100%;
  opacity: 1;
}
#gNav .on a {
  color: #e9ae30;
}
#gNav .on a:before {
  width: 100%;
  opacity: 1;
}
#gNav .off a {
  opacity: 0.5;
  pointer-events: none;
}
@media only screen and (max-width: 1350px) {
  #gNav {
    width: 405px;
  }
  #gNav ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  #gNav {
    display: none;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #e9ae30;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 200;
  }
  #gNav ul {
    position: relative;
    display: block;
    height: 100%;
    padding: 50px 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #gNav ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 1px;
    height: 0%;
    background: rgba(255,255,255,0.1);
    -webkit-transition: 1s 0.5s;
    -o-transition: 1s 0.5s;
    transition: 1s 0.5s;
  }
  #gNav.gNav-active ul::before {
    height: 100%;
  }
  #gNav.gNav-active li {
    opacity: 0;
  }
  #gNav.gNav-active li:nth-child(1) {
    -webkit-animation: navAnime 0.4s 0s ease-in-out forwards;
    animation: navAnime 0.4s 0s ease-in-out forwards;
  }
  #gNav.gNav-active li:nth-child(2) {
    -webkit-animation: navAnime 0.4s 0.1s ease-in-out forwards;
    animation: navAnime 0.4s 0.1s ease-in-out forwards;
  }
  #gNav.gNav-active li:nth-child(3) {
    -webkit-animation: navAnime 0.4s 0.2s ease-in-out forwards;
    animation: navAnime 0.4s 0.2s ease-in-out forwards;
  }
  #gNav.gNav-active li:nth-child(4) {
    -webkit-animation: navAnime 0.4s 0.3s ease-in-out forwards;
    animation: navAnime 0.4s 0.3s ease-in-out forwards;
  }
  #gNav.gNav-active li:nth-child(5) {
    -webkit-animation: navAnime 0.4s 0.4s ease-in-out forwards;
    animation: navAnime 0.4s 0.4s ease-in-out forwards;
  }
  #gNav.gNav-active li:nth-child(6) {
    -webkit-animation: navAnime 0.4s 0.5s ease-in-out forwards;
    animation: navAnime 0.4s 0.5s ease-in-out forwards;
  }
  #gNav.gNav-active li:nth-child(7) {
    -webkit-animation: navAnime 0.4s 0.6s ease-in-out forwards;
    animation: navAnime 0.4s 0.6s ease-in-out forwards;
  }
  #gNav.gNav-active li:nth-child(8) {
    -webkit-animation: navAnime 0.4s 0.7s ease-in-out forwards;
    animation: navAnime 0.4s 0.7s ease-in-out forwards;
  }
  #gNav.gNav-active li:nth-child(9) {
    -webkit-animation: navAnime 0.4s 0.8s ease-in-out forwards;
    animation: navAnime 0.4s 0.8s ease-in-out forwards;
  }
  #gNav.gNav-active li:nth-child(10) {
    -webkit-animation: navAnime 0.4s 0.9s ease-in-out forwards;
    animation: navAnime 0.4s 0.9s ease-in-out forwards;
  }
  #gNav.gNav-active li:nth-child(11) {
    -webkit-animation: navAnime 0.4s 1s ease-in-out forwards;
    animation: navAnime 0.4s 1s ease-in-out forwards;
  }
  #gNav.gNav-active li:nth-child(12) {
    -webkit-animation: navAnime 0.4s 1.1s ease-in-out forwards;
    animation: navAnime 0.4s 1.1s ease-in-out forwards;
  }
  #gNav a,
  #gNav a:hover,
  #gNav .on a {
    color: #fff;
  }
  #gNav a {
    padding: 12px;
  }
@-moz-keyframes navAnime {
    from {
      opacity: 0;
      -webkit-transform: translateX(30px);
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}
@-webkit-keyframes navAnime {
    from {
      opacity: 0;
      -webkit-transform: translateX(30px);
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}
@-o-keyframes navAnime {
    from {
      opacity: 0;
      -webkit-transform: translateX(30px);
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}
@keyframes navAnime {
    from {
      opacity: 0;
      -webkit-transform: translateX(30px);
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}
@-moz-keyframes navAnime {
    from {
      opacity: 0;
      -webkit-transform: translateX(30px);
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}
@-webkit-keyframes navAnime {
    from {
      opacity: 0;
      -webkit-transform: translateX(30px);
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}
@-o-keyframes navAnime {
    from {
      opacity: 0;
      -webkit-transform: translateX(30px);
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}
@keyframes navAnime {
    from {
      opacity: 0;
      -webkit-transform: translateX(30px);
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}
}
@media only screen and (max-width: 736px) and (orientation: landscape) {
  #gNav ul {
    height: auto;
  }
}
#pNav,
#pNav .pNav_cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#pNav ul {
  margin-right: 35px;
}
#pNav ul:last-child {
  margin-right: 0;
}
#pNav .pNav_misc li {
  margin-bottom: 10px;
}
#pNav .pNav_misc li:last-child {
  margin-bottom: 0;
}
#pNav .pNav_misc a {
  position: relative;
  padding-left: 15px;
  font-size: 11px;
}
#pNav .pNav_misc a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 5.2px;
  border-color: transparent transparent transparent #333;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#pNav .pNav_cv a {
  width: 165px;
  padding: 12px 20px;
  font-size: 14px;
}
#pNav .on a {
  color: #e9ae30;
}
#pNav .pNav_misc a:hover::before {
  border-color: transparent transparent transparent #e9ae30;
}
@media screen and (max-width: 768px) {
  #pNav {
    display: none;
  }
}
#spNav,
#spMenu {
  display: none;
}
@media screen and (max-width: 768px) {
  #spNav,
  #spMenu {
    display: block;
  }
  #spNav {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px -2px 5px 2px rgba(0,0,0,0.05);
    box-shadow: 0px -2px 5px 2px rgba(0,0,0,0.05);
  }
  #spNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  #spNav li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
  }
  #spNav a,
  #spNav .icon {
    display: block;
    text-align: center;
  }
  #spNav a {
    padding: 10px;
    font-size: 10px;
    letter-spacing: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #spNav .icon {
    margin-bottom: 6px;
    color: #e9ae30;
    font-size: 16px;
    line-height: 1;
  }
  #spNav .req {
    background: #e9ae30;
  }
  #spNav .req a,
  #spNav .res a {
    position: relative;
    height: 52px;
    font-size: 10px;
    padding: 10px 0;
  }
  #spNav .req span,
  #spNav .res span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #spMenu {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 46px;
    height: 46px;
    border-radius: 3px;
    background: #e9ae30;
    z-index: 300;
  }
  #spMenu .icon {
    position: relative;
    display: block;
    width: 20px;
    height: 10px;
    margin: 12px auto 8px;
  }
  #spMenu .icon::before,
  #spMenu .icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #spMenu .icon::before {
    top: 0;
  }
  #spMenu .icon::after {
    bottom: 0;
  }
  #spMenu span {
    display: block;
    color: #fff;
    font-size: 8px;
    letter-spacing: 0;
    line-height: 1;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #spMenu.spMenu-active .icon::before {
    top: 50%;
    -webkit-transform: translateY(-1px) rotate(45deg);
    -ms-transform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg);
  }
  #spMenu.spMenu-active .icon::after {
    bottom: 50%;
    -webkit-transform: translateY(1px) rotate(-45deg);
    -ms-transform: translateY(1px) rotate(-45deg);
    transform: translateY(1px) rotate(-45deg);
  }
  #spMenu.spMenu-active span {
    display: none;
  }
}
@media screen and (max-width: 736px) and (orientation: landscape) {
  #spNav {
    display: none;
  }
}
#container {
  background-color: transparent;
  -webkit-font-feature-settings: 'palt';
  font-feature-settings: 'palt';
  font-size: 14px;
  letter-spacing: 0.15em;
  line-height: 1.7;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #container {
    min-width: inherit;
    font-size: 12px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}
.container--low {
  padding-bottom: 200px;
}
.container--low .section {
  margin-bottom: 160px;
}
.container--low .section:last-child {
  margin-bottom: 0;
}
.container--low .mainVisual {
  position: relative;
  margin-bottom: 50px;
}
.container--low .mainVisual img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .container--low .mainVisual img {
    height: 100%;
    width: auto;
    max-width: none;
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}
.container--low .mainVisual .cap--right {
  padding-right: 10px;
}
@media screen and (max-width: 768px) {
  .container--low .mainVisual .blockMarker-box {
    height: 170px;
  }
}
@media screen and (max-width: 768px) {
  .container--low {
    padding-bottom: 100px;
  }
  .container--low .section {
    margin-bottom: 80px;
  }
}
.line {
  display: none;
  position: absolute;
  bottom: -21px;
  left: 50%;
  width: 1px;
  height: 95px;
  margin-left: -0.5px;
  background: #d9d9d9;
}
@media screen and (max-width: 768px) {
  .line {
    height: 50px;
  }
}
.line__wrap {
  height: 100%;
}
.line__inner {
  display: block;
  -webkit-animation: lineMarker 3s ease 0.5s infinite;
  animation: lineMarker 3s ease 0.5s infinite;
}
@-moz-keyframes lineMarker {
  0% {
    height: 0;
    background-color: #039089;
  }
  30% {
    height: 100%;
    background-color: #039089;
  }
  100% {
    height: 100%;
    background-color: #d9d9d9;
  }
}
@-webkit-keyframes lineMarker {
  0% {
    height: 0;
    background-color: #039089;
  }
  30% {
    height: 100%;
    background-color: #039089;
  }
  100% {
    height: 100%;
    background-color: #d9d9d9;
  }
}
@-o-keyframes lineMarker {
  0% {
    height: 0;
    background-color: #039089;
  }
  30% {
    height: 100%;
    background-color: #039089;
  }
  100% {
    height: 100%;
    background-color: #d9d9d9;
  }
}
@keyframes lineMarker {
  0% {
    height: 0;
    background-color: #039089;
  }
  30% {
    height: 100%;
    background-color: #039089;
  }
  100% {
    height: 100%;
    background-color: #d9d9d9;
  }
}
.btmCv {
  position: relative;
  padding: 155.5px 0;
  background: url("../imgs/bg-btmCv.jpg") no-repeat center center;
  background-size: cover;
  font-family: 'Noto Serif Japanese', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  -webkit-font-feature-settings: 'palt';
  font-feature-settings: 'palt';
  font-size: 14px;
  letter-spacing: 0.15em;
  line-height: 1.7;
}
.btmCv__blockMarker-box {
  max-width: 550px;
  margin: 0 auto;
}
.btmCv__lead {
  margin-bottom: 20px;
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.btmCv__text {
  margin-bottom: 50px;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
.btmCv__btn {
  width: 290px;
  margin: 0 auto;
}
.btmCv__btn a {
  display: block;
  padding: 20px 0;
  background-color: #fff;
/*border: 1px solid #fff;*/
  color: #fff;
  line-height: 1;
  text-align: center;
}
.btmCv__btn a:before {
  background-color: #039089;
}
.btmCv__btn a:hover {
  color: #333;
}
.btmCv .toPrevPage,
.btmCv .toNextPage {
  position: absolute;
  top: 50%;
  width: 160px;
  margin-top: -77px;
  overflow: hidden;
}
.btmCv .toPrevPage a,
.btmCv .toNextPage a {
  display: block;
  padding: 70px 0;
  background-color: #009e96;
  color: #fff;
  font-family: 'EB Garamond', serif;
  line-height: 1;
  text-align: center;
}
.btmCv .toPrevPage a:before,
.btmCv .toNextPage a:before {
  background-color: #1e1e1e;
}
.btmCv .toPrevPage a:after,
.btmCv .toNextPage a:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 8px;
  height: 8px;
  margin-top: -5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btmCv .toPrevPage {
  left: 0;
}
.btmCv .toPrevPage a:before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
.btmCv .toPrevPage a:after {
  left: 20px;
  border-bottom: 2px solid #009e96;
  border-left: 2px solid #009e96;
}
.btmCv .toPrevPage a:hover:after {
  border-bottom: 2px solid #1e1e1e;
  border-left: 2px solid #1e1e1e;
}
.btmCv .toNextPage {
  right: 0;
}
.btmCv .toNextPage a:after {
  right: 20px;
  border-top: 2px solid #009e96;
  border-right: 2px solid #009e96;
}
.btmCv .toNextPage a:hover:after {
  border-top: 2px solid #1e1e1e;
  border-right: 2px solid #1e1e1e;
}
@media screen and (max-width: 768px) {
  .btmCv {
    padding: 75px 0;
  }
  .btmCv__lead {
    margin-bottom: 10px;
    font-size: 19px;
  }
  .btmCv__text {
    margin-bottom: 25px;
    font-size: 12px;
  }
  .btmCv__btn {
    width: 230px;
  }
  .btmCv__btn a {
    padding: 10px 0;
  }
  .btmCv .toPrevPage,
  .btmCv .toNextPage {
    top: auto;
    bottom: 0;
    width: 100px;
    margin-top: 0;
  }
  .btmCv .toPrevPage a,
  .btmCv .toNextPage a {
    font-size: 11px;
    padding: 15px 0;
  }
  .btmCv .toPrevPage a:after,
  .btmCv .toNextPage a:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 8px;
    height: 8px;
    margin-top: -5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .btmCv .toPrevPage a:after {
    left: 15px;
  }
  .btmCv .toPrevPage a:hover:after {
    border-bottom: 2px solid #009e96;
    border-left: 2px solid #009e96;
  }
  .btmCv .toNextPage a:after {
    right: 15px;
  }
  .btmCv .toNextPage a:hover:after {
    border-top: 2px solid #009e96;
    border-right: 2px solid #009e96;
  }
}
.btmCap {
  padding: 30px 0;
  background-color: #ebedec;
}
#ftrCV {
  position: relative;
  padding: 175px 0;
  background: url("../imgs/bg-ftrcv.jpg") no-repeat center;
  background-size: cover;
}
#ftrCV .ftrCV_filter {
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: inherit;
  background-position: bottom center;
}
#ftrCV .ftrCV_filter::before {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background: inherit;
  background-position: bottom center;
  z-index: 1;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
@media screen and (max-width: 768px) {
  #ftrCV {
    padding: 0;
    background: none;
  }
  #ftrCV .ftrCV_filter {
    display: none;
  }
}
.cvBox {
  color: #fff;
  font-family: 'hareMin', serif;
  text-align: center;
}
.cvBox .cvBox_txt {
  margin-bottom: 30px;
  font-size: 24px;
  letter-spacing: 0.3em;
  text-shadow: 0px 0px 6px #000, 0px 0px 6px #000, 0px 0px 6px #000;
}
.cvBox .cvBox_btn {
  text-align: center;
}
.cvBox .cvBox_btn li {
  display: inline-block;
  margin: 0 10px;
}
.cvBox .cvBox_caption {
  position: absolute;
  bottom: 60px;
  right: 10px;
  color: #fff;
  text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000;
}
@media screen and (max-width: 768px) {
  .cvBox {
    position: relative;
    padding: 50px 0;
    background: url("../imgs/bg-ftrcv.jpg") no-repeat center;
    background-size: cover;
  }
  .cvBox .cvBox_txt {
    font-size: 18px;
  }
  .cvBox .cvBox_caption {
    bottom: 10px;
  }
}
#fNav {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}
#fNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255,255,255,0.7);
}
#fNav a {
  display: block;
  padding: 20px 10px;
  color: #000;
  font-size: 10px;
  font-family: 'hareMin', serif;
  line-height: 1;
}
#fNav .on a,
#fNav a:hover {
  color: #dfba6a;
  text-decoration: underline;
}
#fNav .off a {
  opacity: 0.5;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  #fNav {
    position: static;
    left: inherit;
    bottom: inherit;
    right: inherit;
    padding: 15px 20px;
    background: #f0f0f0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #fNav ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    background: transparent;
  }
  #fNav li {
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #fNav li:nth-child(2n+1) {
    padding-right: 10px;
  }
  #fNav li:nth-child(2n) {
    padding-left: 10px;
  }
  #fNav a {
    position: relative;
    padding: 15px 10px 15px 25px;
    border-top: 1px solid #dbdbdb;
    color: #333;
    font-size: 12px;
    letter-spacing: -0.05em;
  }
  #fNav li:nth-child(-n+2) a {
    border-top: none;
  }
  #fNav a::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 0 3px 5.2px;
    border-color: transparent transparent transparent #333;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #fNav .on a::before {
    border-color: transparent transparent transparent #dfba6a;
  }
  #fNav a:hover,
  #fNav .on a {
    text-decoration: none;
  }
  #fNav .off a {
    opacity: 1;
    color: #ccc;
  }
  #fNav .off a::before {
    border-color: transparent transparent transparent #ccc;
  }
}
.pageCap {
  padding: 50px 0;
}
@media screen and (max-width: 768px) {
  .pageCap {
    padding: 30px 0;
  }
}
#contact {
  position: relative;
  padding: 20px 0;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  font-family: 'hareMin', serif;
}
#contact .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#contact .contact_name,
#contact .contact_hour {
  font-size: 12px;
  letter-spacing: 0.05em;
}
#contact .contact_tel a {
  font-size: 32px;
  line-height: 1;
}
#contact .contact_holiday {
  padding: 10px 20px 0;
  font-size: 10px;
  color: #f00;
  letter-spacing: 0.1em;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #contact {
    padding: 30px 0;
  }
  #contact .wrap {
    display: block;
  }
  #contact .contact_name,
  #contact .contact_tel {
    text-align: center;
    margin-bottom: 15px;
  }
  #contact .contact_tel a {
    font-size: 25px;
  }
  #contact .contact_hour {
    font-size: 10px;
    letter-spacing: -0.05em;
  }
  #contact .contact_holiday {
    text-align: left;
  }
}
.pagetop {
  position: absolute;
  top: 50%;
  right: 40px;
  width: 40px;
  height: 40px;
  border: 1px solid #ececec;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.pagetop::before,
.pagetop::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 16px;
  height: 1px;
  background: #b8b8b8;
}
.pagetop::before {
  left: 8px;
  -webkit-transform: rotate(-55deg);
  -ms-transform: rotate(-55deg);
  transform: rotate(-55deg);
}
.pagetop::after {
  right: 7px;
  -webkit-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  transform: rotate(55deg);
}
@media screen and (max-width: 768px) {
  .pagetop {
    display: none;
  }
}
#group {
  padding: 30px 0;
}
#group .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#group .group_logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 255px;
  flex: 0 0 255px;
}
#group .group_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#group .group_link,
#group .group_link a {
  font-size: 10px;
  letter-spacing: 0.05em;
}
#group .group_link a {
  display: block;
  line-height: 1;
}
#group .group_link li {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid #333;
}
#group .group_link li:nth-child(n+2) {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
#group .group_link .copyright {
  width: auto;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  #group .wrap {
    display: block;
  }
  #group .group_logo {
    margin-bottom: 25px;
    text-align: center;
  }
  #group .group_link {
    display: block;
    text-align: center;
  }
  #group .group_link li {
    display: inline-block;
  }
  #group .group_link,
  #group .group_link a {
    font-size: 11px;
  }
  #group .group_link .copyright {
    font-size: 9px;
    margin-top: 20px;
  }
}
.leaflet-control-zoom {
  opacity: 0.6;
}
@-moz-keyframes overlayMove {
  100% {
    width: 100vw;
  }
}
@-webkit-keyframes overlayMove {
  100% {
    width: 100vw;
  }
}
@-o-keyframes overlayMove {
  100% {
    width: 100vw;
  }
}
@keyframes overlayMove {
  100% {
    width: 100vw;
  }
}
/* --------------------------------------------------------------------------------
  5. module;
-------------------------------------------------------------------------------- */
.blockMarker-box,
.blockMarker-box--dib {
  position: relative;
}
.blockMarker-box--dib {
  display: inline-block;
}
.blockMarkerMsk,
.blockMarkerMsk--firstView {
  height: 100%;
  background: #d0d6d9;
  position: absolute;
  top: 0;
  z-index: 2;
}
.blockMarkerMsk.color2 {
  background: #009e96;
}
.blockMarkerMsk.color3 {
  background: #07496a;
}
.blockMarkerMsk.color4 {
  background: #587d90;
}
.blockMarkerMsk.color5 {
  background: #eceff1;
}
.blockMarkerMsk.color6 {
  background: #181818;
}
[data-aos='blockMarker'],
[data-aos='blockMarker--btn'],
.blockMarkerMsk--firstView {
  width: 0;
  left: 0;
}
[data-aos='blockMarker'].aos-animate {
  -webkit-animation: blockMarker 1.2s ease 0.5s 1 forwards; /* 表示時間+start時間 */
  animation: blockMarker 1.2s ease 0.5s 1 forwards; /* 表示時間+start時間 */
}
@media screen and (max-width: 768px) {
  .topVisual [data-aos='blockMarker'].aos-animate {
    -webkit-animation: blockMarker 1.2s ease 1.5s 1 forwards; /* 表示時間+start時間 */
    animation: blockMarker 1.2s ease 1.5s 1 forwards; /* 表示時間+start時間 */
  }
}
[data-aos='blockMarker--btn'].aos-animate {
  -webkit-animation: blockMarker 1.2s ease 1.2s 1 forwards; /* 表示時間+start時間 */
  animation: blockMarker 1.2s ease 1.2s 1 forwards; /* 表示時間+start時間 */
}
.blockMarkerMsk--firstView {
  -webkit-animation: blockMarker 1.2s ease 3s 1 forwards; /* 表示時間+start時間 */
  animation: blockMarker 1.2s ease 3s 1 forwards; /* 表示時間+start時間 */
}
[data-aos='blockMarkerR'] {
  width: 0;
  right: 0;
}
[data-aos='blockMarkerR'].aos-animate {
  -webkit-animation: blockMarkerR 1.2s ease 0.5s 1 forwards; /* 表示時間+start時間 */
  animation: blockMarkerR 1.2s ease 0.5s 1 forwards; /* 表示時間+start時間 */
}
@media screen and (max-width: 768px) {
  .topVisual [data-aos='blockMarkerR'].aos-animate {
    -webkit-animation: blockMarkerR 1.2s ease 1.5s 1 forwards; /* 表示時間+start時間 */
    animation: blockMarkerR 1.2s ease 1.5s 1 forwards; /* 表示時間+start時間 */
  }
}
[data-aos='blockMarkerCnt'],
[data-aos='blockMarkerCnt--btn'],
.blockMarkerCnt--firstView {
  opacity: 0;
}
[data-aos='blockMarkerCnt'].aos-animate {
  -webkit-animation: blockMarkerCnt 0.8s ease 1s 1 forwards; /* 表示時間+start時間 */
  animation: blockMarkerCnt 0.8s ease 1s 1 forwards; /* 表示時間+start時間 */
}
@media screen and (max-width: 768px) {
  .topVisual [data-aos='blockMarkerCnt'].aos-animate {
    -webkit-animation: blockMarkerCnt 0.8s ease 2s 1 forwards; /* 表示時間+start時間 */
    animation: blockMarkerCnt 0.8s ease 2s 1 forwards; /* 表示時間+start時間 */
  }
}
[data-aos='blockMarkerCnt--btn'].aos-animate {
  -webkit-animation: blockMarkerCnt 0.8s ease 1.6s 1 forwards; /* 表示時間+start時間 */
  animation: blockMarkerCnt 0.8s ease 1.6s 1 forwards; /* 表示時間+start時間 */
}
.blockMarkerCnt--firstView {
  -webkit-animation: blockMarkerCnt 0.8s ease 3.5s 1 forwards; /* 表示時間+start時間 */
  animation: blockMarkerCnt 0.8s ease 3.5s 1 forwards; /* 表示時間+start時間 */
}
.btn a {
  position: relative;
  font-family: 'Noto Serif Japanese', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  z-index: 1;
}
.btn a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  z-index: -1;
}
.btn a:hover:before {
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}
@media screen and (max-width: 768px) {
  .btn a:hover:before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.commonBtn {
  width: 290px;
}
@media screen and (max-width: 768px) {
  .commonBtn {
    width: 230px;
  }
}
.commonBtn a {
  position: relative;
  display: block;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid #1e1e1e;
  color: #fff;
  font-family: 'Noto Serif Japanese', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  line-height: 1;
  text-align: center;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .commonBtn a {
    padding: 10px 0;
  }
}
.commonBtn a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  z-index: -1;
}
.commonBtn a:hover {
  color: #1e1e1e;
}
.commonBtn a:hover:before {
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}
@media screen and (max-width: 768px) {
  .commonBtn a:hover:before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.commonBtn--print a,
.commonBtn--return a {
  padding: 12px 0;
  font-size: 12px;
}
.commonBtn--print a {
  border: 1px solid #3f5d5b;
}
.commonBtn--print a:before {
  background-color: #3f5d5b;
}
.commonBtn--print a:hover {
  color: #3f5d5b;
}
.commonBtn--return a {
  border: 1px solid #333;
}
.commonBtn--return a::before {
  background-color: #333;
}
.commonBtn--return a:hover {
  color: #333;
}
@media screen and (max-width: 768px) {
  .commonBtnList {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.commonBtnList li {
  width: 170px;
  margin: 0 40px;
}
@media screen and (max-width: 768px) {
  .commonBtnList li {
    margin: 0 0 20px 0;
  }
  .commonBtnList li:last-child {
    margin: 0;
  }
}
.cap,
.caption,
.cap--right,
.caption--right {
  background: none;
  color: #222;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
.cap,
.cap--right {
  padding-top: 8px;
}
.cap--right,
.caption--right {
  text-align: right;
}
.imageCap {
  position: relative;
}
.imageCap .caption,
.imageCap .caption--right {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 5px 5px;
}
.clm--w300 {
  width: 300px;
}
.clm--w300 .inner {
  max-width: 300px;
}
.clm--w370 {
  width: 370px;
}
.clm--w370 .inner {
  max-width: 370px;
}
.clm--w420 {
  width: 420px;
}
.clm--w420 .inner {
  max-width: 420px;
}
.clm--w488 {
  width: 488px;
}
.clm--w488 .inner {
  max-width: 488px;
}
.clm--w460 {
  width: 460px;
}
.clm--w460 .inner {
  max-width: 460px;
}
.clm--w540 {
  width: 540px;
}
.clm--w540 .inner {
  max-width: 540px;
}
.clm--w630 {
  width: 630px;
}
.clm--w630 .inner {
  max-width: 630px;
}
.clm--w650 {
  width: 650px;
}
.clm--w650 .inner {
  max-width: 650px;
}
@media screen and (max-width: 768px) {
  .clm--w300,
  .clm--w370,
  .clm--w420,
  .clm--w460,
  .clm--w488,
  .clm--w540,
  .clm--w630,
  .clm--w650 {
    width: 100%;
  }
  .clm--1st {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .clm--2nd {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .clm--3rd {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .clm--4th {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}
[data-aos='fadeText'] {
  opacity: 0;
}
.row--01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row--02,
.row--03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.row--04,
.row--05 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.row .clm--pos_right {
  max-width: 1340px;
  margin-left: auto;
}
.row .clm--pos_right .cap--right {
  padding-right: 10px;
}
.row--in_half .clm,
.row--in_half li {
  width: calc(460 / 1000 * 100%);
}
.row--in_half .inner {
  max-width: 460px;
}
.row--in_one-third .clm,
.row--in_one-third li {
  width: calc(300 / 1000 * 100%);
}
.row--in_one-third .inner {
  max-width: 300px;
}
.row--in_quarter .clm,
.row--in_quarter li {
  width: calc(232 / 1000 * 100%);
}
.row--in_quarter .inner {
  max-width: 232px;
}
@media screen and (max-width: 768px) {
  .row--03,
  .row--05 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .row--in_half .clm,
  .row--in_half li {
    width: 100%;
    margin-bottom: 40px;
  }
  .row--in_half .clm:last-of-type,
  .row--in_half li:last-of-type {
    margin-bottom: 0;
  }
  .row--in_one-third .clm,
  .row--in_one-third li {
    width: 100%;
    margin-bottom: 30px;
  }
  .row--in_one-third .clm:last-child,
  .row--in_one-third li:last-child {
    margin-bottom: 0;
  }
  .row--in_quarter .clm,
  .row--in_quarter li {
    width: 48%;
    margin-bottom: 20px;
  }
  .row--in_quarter .clm:nth-last-of-type(-n +2),
  .row--in_quarter li:nth-last-of-type(-n +2) {
    margin-bottom: 0;
  }
}
.headline {
  font-family: 'Noto Serif Japanese', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  line-height: 1.5;
}
.headline--lowPage {
  margin-right: -1em;
  margin-bottom: 110px;
  font-size: 18px;
  letter-spacing: 1em;
  text-align: center;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.headline--en {
  color: #039089;
  font-family: 'EBGaramond', serif;
  line-height: 1;
}
.headline--en_02 {
  color: #fff;
  font-family: 'EBGaramond', serif;
  font-size: 28px;
  letter-spacing: 0.15em;
  line-height: 1;
}
.headline--01 {
  font-size: 30px;
}
.headline--02 {
  margin-bottom: 25px;
  font-size: 20px;
}
.headline--03 {
  margin-bottom: 20px;
  font-size: 16px;
}
.headline--03--01 {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .headline--lowPage {
    margin-bottom: 55px;
  }
  .headline--en_02 {
    font-size: 22px;
  }
  .headline--01 {
    font-size: 24px;
  }
  .headline--02 {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .headline--03 {
    margin-bottom: 10px;
    font-size: 13px;
  }
}
.lead {
  font-family: 'Noto Serif Japanese', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  font-size: 20px;
  line-height: 1.7;
}
@media screen and (max-width: 768px) {
}
.sp,
img.sp {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
  img.sp {
    display: inline-block !important;
  }
}
.imageWrap {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .imageWrap {
    margin-bottom: 10px;
  }
}
.is_show {
  opacity: 1;
}
.is_hide {
  opacity: 0;
}
.is_show--db {
  display: block;
}
.is_hide--db {
  display: none;
}
.tel a {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .tel a {
    pointer-events: visible;
  }
}
.text {
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .text {
    font-size: 12px;
    line-height: 1.6;
  }
}
@-moz-keyframes blockMarker {
  50% {
    width: 100%;
    margin-left: 0;
  }
  100% {
    width: 0;
    margin-left: 100%;
  }
}
@-webkit-keyframes blockMarker {
  50% {
    width: 100%;
    margin-left: 0;
  }
  100% {
    width: 0;
    margin-left: 100%;
  }
}
@-o-keyframes blockMarker {
  50% {
    width: 100%;
    margin-left: 0;
  }
  100% {
    width: 0;
    margin-left: 100%;
  }
}
@keyframes blockMarker {
  50% {
    width: 100%;
    margin-left: 0;
  }
  100% {
    width: 0;
    margin-left: 100%;
  }
}
@-moz-keyframes blockMarkerR {
  50% {
    width: 100%;
    margin-right: 0;
  }
  100% {
    width: 0;
    margin-right: 100%;
  }
}
@-webkit-keyframes blockMarkerR {
  50% {
    width: 100%;
    margin-right: 0;
  }
  100% {
    width: 0;
    margin-right: 100%;
  }
}
@-o-keyframes blockMarkerR {
  50% {
    width: 100%;
    margin-right: 0;
  }
  100% {
    width: 0;
    margin-right: 100%;
  }
}
@keyframes blockMarkerR {
  50% {
    width: 100%;
    margin-right: 0;
  }
  100% {
    width: 0;
    margin-right: 100%;
  }
}
@-moz-keyframes blockMarkerR {
  50% {
    width: 100%;
    margin-right: 0;
  }
  100% {
    width: 0;
    margin-right: 100%;
  }
}
@-webkit-keyframes blockMarkerR {
  50% {
    width: 100%;
    margin-right: 0;
  }
  100% {
    width: 0;
    margin-right: 100%;
  }
}
@-o-keyframes blockMarkerR {
  50% {
    width: 100%;
    margin-right: 0;
  }
  100% {
    width: 0;
    margin-right: 100%;
  }
}
@keyframes blockMarkerR {
  50% {
    width: 100%;
    margin-right: 0;
  }
  100% {
    width: 0;
    margin-right: 100%;
  }
}
@-moz-keyframes blockMarkerCnt {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blockMarkerCnt {
  100% {
    opacity: 1;
  }
}
@-o-keyframes blockMarkerCnt {
  100% {
    opacity: 1;
  }
}
@keyframes blockMarkerCnt {
  100% {
    opacity: 1;
  }
}
/* --------------------------------------------------------------------------------
  6. grobal
-------------------------------------------------------------------------------- */
.nav-global-property {
  background-color: #07496a;
}
.nav-global-property-item:first-child::before {
  border-left: 1px #528097 solid;
}
.nav-global-property-item::after {
  border-right: 1px #528097 solid;
}
.nav-global-property-link {
  font-size: 14px;
}
.nav-global-property-item.is-off .nav-global-property-link {
  opacity: 0.5;
  pointer-events: none;
}
.nav-global-property-item.town .nav-global-property-link {
  font-size: 13px;
}
.nav-global-property-inner.nav-global-property-inner-first,
.nav-global-property-inner.nav-global-property-inner-second {
  background: #07496a;
}
@media screen and (max-width: 1200px) {
  .nav-global-property-list {
    background-color: #07496a;
  }
}
@media screen and (max-width: 1200px) {
  .header-property-menu {
    background-color: #222a5d;
  }
}
@media screen and (max-width: 1200px) {
  .header-property-btn-menu.is-open {
    background-color: #07496a;
  }
}
.box-bukken-contact {
  background-color: #fff;
}
.ttl-property-main {
  background-color: #fff;
  border-top: 1px solid #ececec;
  color: #3a3a3a;
}
.list-bukken-contact-link-green {
  border: 1px solid rgba(255,255,255,0.3);
}
.box-bukken-contact-inner {
  color: #3a3a3a;
}
.box-bukken-contact-tel > span,
.box-bukken-contact-tel > a {
  padding-left: 0;
  background: none;
  color: #3a3a3a;
}
.box-bukken-contact-list-item {
  background: none;
}
.box-bukken-contact-list-link {
  color: #3a3a3a;
}
@media screen and (max-width: 768px) {
  .list-bukken-contact-item {
    margin: 0 auto 15px;
  }
}
.btn-pagetop-property,
.footer-property-link-wrap {
  background-color: #222a5d;
}
.nav-global-property-item {
  width: 150px;
/* 9n */
}
@media screen and (max-width: 1200px) {
  .nav-global-property-item {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  .nav-global-property-item:nth-child(8n) {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  .list-property-control-item {
    width: 25%;
  }
}
.is-pc1200l .list-property-control-wrap .list-property-control-item {
  width: 25%;
}
.nav-global-property-item.is-new .nav-global-property-link::before {
  top: 5px;
  right: 10px;
}
@media screen and (max-width: 1200px) {
  .nav-global-property-item.is-new .nav-global-property-link::before {
    position: relative;
    top: auto;
    right: auto;
  }
}
.nav-global-property-inner-first .nav-global-property-item.is-new:nth-child(9) .nav-global-property-link::before {
  right: 5px;
}
@media screen and (max-width: 1200px) {
  .nav-global-property-inner-first .nav-global-property-item.is-new:nth-child(9) .nav-global-property-link::before {
    right: auto;
  }
}
.nav-global-property-inner-second .nav-global-property-item.is-new:nth-child(1) .nav-global-property-link::before {
  right: 5px;
}
@media screen and (max-width: 1200px) {
  .nav-global-property-inner-second .nav-global-property-item.is-new:nth-child(1) .nav-global-property-link::before {
    right: auto;
  }
}
.list-property-control-item-favorite,
.list-bukken-contact-item.favorite {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header-property-btn-favorite.only-sp {
    display: none !important;
  }
}
.header-property-utility {
  padding: 15px 10px 15px 0;
}
/* --------------------------------------------------------------------------------
  7. freee
-------------------------------------------------------------------------------- */
.color-white {
  color: #fff;
}
.color-lightGreen {
  color: #009e96;
}
.ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ai-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.ai-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .ai-sp-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .ai-sp-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .ai-sp-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
.paddingT--0 {
  padding-top: 0px;
}
.paddingB--0 {
  padding-bottom: 0px;
}
.paddingTB--0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.paddingT--5 {
  padding-top: 5px;
}
.paddingB--5 {
  padding-bottom: 5px;
}
.paddingTB--5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.paddingT--10 {
  padding-top: 10px;
}
.paddingB--10 {
  padding-bottom: 10px;
}
.paddingTB--10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.paddingT--15 {
  padding-top: 15px;
}
.paddingB--15 {
  padding-bottom: 15px;
}
.paddingTB--15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.paddingT--20 {
  padding-top: 20px;
}
.paddingB--20 {
  padding-bottom: 20px;
}
.paddingTB--20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.paddingT--25 {
  padding-top: 25px;
}
.paddingB--25 {
  padding-bottom: 25px;
}
.paddingTB--25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.paddingT--30 {
  padding-top: 30px;
}
.paddingB--30 {
  padding-bottom: 30px;
}
.paddingTB--30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.paddingT--35 {
  padding-top: 35px;
}
.paddingB--35 {
  padding-bottom: 35px;
}
.paddingTB--35 {
  padding-top: 35px;
  padding-bottom: 35px;
}
.paddingT--40 {
  padding-top: 40px;
}
.paddingB--40 {
  padding-bottom: 40px;
}
.paddingTB--40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.paddingT--45 {
  padding-top: 45px;
}
.paddingB--45 {
  padding-bottom: 45px;
}
.paddingTB--45 {
  padding-top: 45px;
  padding-bottom: 45px;
}
.paddingT--50 {
  padding-top: 50px;
}
.paddingB--50 {
  padding-bottom: 50px;
}
.paddingTB--50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.paddingT--55 {
  padding-top: 55px;
}
.paddingB--55 {
  padding-bottom: 55px;
}
.paddingTB--55 {
  padding-top: 55px;
  padding-bottom: 55px;
}
.paddingT--60 {
  padding-top: 60px;
}
.paddingB--60 {
  padding-bottom: 60px;
}
.paddingTB--60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.paddingT--65 {
  padding-top: 65px;
}
.paddingB--65 {
  padding-bottom: 65px;
}
.paddingTB--65 {
  padding-top: 65px;
  padding-bottom: 65px;
}
.paddingT--70 {
  padding-top: 70px;
}
.paddingB--70 {
  padding-bottom: 70px;
}
.paddingTB--70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.paddingT--75 {
  padding-top: 75px;
}
.paddingB--75 {
  padding-bottom: 75px;
}
.paddingTB--75 {
  padding-top: 75px;
  padding-bottom: 75px;
}
.paddingT--80 {
  padding-top: 80px;
}
.paddingB--80 {
  padding-bottom: 80px;
}
.paddingTB--80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.paddingT--85 {
  padding-top: 85px;
}
.paddingB--85 {
  padding-bottom: 85px;
}
.paddingTB--85 {
  padding-top: 85px;
  padding-bottom: 85px;
}
.paddingT--90 {
  padding-top: 90px;
}
.paddingB--90 {
  padding-bottom: 90px;
}
.paddingTB--90 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.paddingT--95 {
  padding-top: 95px;
}
.paddingB--95 {
  padding-bottom: 95px;
}
.paddingTB--95 {
  padding-top: 95px;
  padding-bottom: 95px;
}
.paddingT--100 {
  padding-top: 100px;
}
.paddingB--100 {
  padding-bottom: 100px;
}
.paddingTB--100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.paddingT--105 {
  padding-top: 105px;
}
.paddingB--105 {
  padding-bottom: 105px;
}
.paddingTB--105 {
  padding-top: 105px;
  padding-bottom: 105px;
}
.paddingT--110 {
  padding-top: 110px;
}
.paddingB--110 {
  padding-bottom: 110px;
}
.paddingTB--110 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.paddingT--115 {
  padding-top: 115px;
}
.paddingB--115 {
  padding-bottom: 115px;
}
.paddingTB--115 {
  padding-top: 115px;
  padding-bottom: 115px;
}
.paddingT--120 {
  padding-top: 120px;
}
.paddingB--120 {
  padding-bottom: 120px;
}
.paddingTB--120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.paddingT--125 {
  padding-top: 125px;
}
.paddingB--125 {
  padding-bottom: 125px;
}
.paddingTB--125 {
  padding-top: 125px;
  padding-bottom: 125px;
}
.paddingT--130 {
  padding-top: 130px;
}
.paddingB--130 {
  padding-bottom: 130px;
}
.paddingTB--130 {
  padding-top: 130px;
  padding-bottom: 130px;
}
.paddingT--135 {
  padding-top: 135px;
}
.paddingB--135 {
  padding-bottom: 135px;
}
.paddingTB--135 {
  padding-top: 135px;
  padding-bottom: 135px;
}
.paddingT--140 {
  padding-top: 140px;
}
.paddingB--140 {
  padding-bottom: 140px;
}
.paddingTB--140 {
  padding-top: 140px;
  padding-bottom: 140px;
}
.paddingT--145 {
  padding-top: 145px;
}
.paddingB--145 {
  padding-bottom: 145px;
}
.paddingTB--145 {
  padding-top: 145px;
  padding-bottom: 145px;
}
.paddingT--150 {
  padding-top: 150px;
}
.paddingB--150 {
  padding-bottom: 150px;
}
.paddingTB--150 {
  padding-top: 150px;
  padding-bottom: 150px;
}
.paddingT--155 {
  padding-top: 155px;
}
.paddingB--155 {
  padding-bottom: 155px;
}
.paddingTB--155 {
  padding-top: 155px;
  padding-bottom: 155px;
}
.paddingT--160 {
  padding-top: 160px;
}
.paddingB--160 {
  padding-bottom: 160px;
}
.paddingTB--160 {
  padding-top: 160px;
  padding-bottom: 160px;
}
.paddingT--165 {
  padding-top: 165px;
}
.paddingB--165 {
  padding-bottom: 165px;
}
.paddingTB--165 {
  padding-top: 165px;
  padding-bottom: 165px;
}
.paddingT--170 {
  padding-top: 170px;
}
.paddingB--170 {
  padding-bottom: 170px;
}
.paddingTB--170 {
  padding-top: 170px;
  padding-bottom: 170px;
}
.paddingT--175 {
  padding-top: 175px;
}
.paddingB--175 {
  padding-bottom: 175px;
}
.paddingTB--175 {
  padding-top: 175px;
  padding-bottom: 175px;
}
.paddingT--180 {
  padding-top: 180px;
}
.paddingB--180 {
  padding-bottom: 180px;
}
.paddingTB--180 {
  padding-top: 180px;
  padding-bottom: 180px;
}
.paddingT--185 {
  padding-top: 185px;
}
.paddingB--185 {
  padding-bottom: 185px;
}
.paddingTB--185 {
  padding-top: 185px;
  padding-bottom: 185px;
}
.paddingT--190 {
  padding-top: 190px;
}
.paddingB--190 {
  padding-bottom: 190px;
}
.paddingTB--190 {
  padding-top: 190px;
  padding-bottom: 190px;
}
.paddingT--195 {
  padding-top: 195px;
}
.paddingB--195 {
  padding-bottom: 195px;
}
.paddingTB--195 {
  padding-top: 195px;
  padding-bottom: 195px;
}
.paddingT--200 {
  padding-top: 200px;
}
.paddingB--200 {
  padding-bottom: 200px;
}
.paddingTB--200 {
  padding-top: 200px;
  padding-bottom: 200px;
}
.paddingT--205 {
  padding-top: 205px;
}
.paddingB--205 {
  padding-bottom: 205px;
}
.paddingTB--205 {
  padding-top: 205px;
  padding-bottom: 205px;
}
.paddingT--210 {
  padding-top: 210px;
}
.paddingB--210 {
  padding-bottom: 210px;
}
.paddingTB--210 {
  padding-top: 210px;
  padding-bottom: 210px;
}
.paddingT--215 {
  padding-top: 215px;
}
.paddingB--215 {
  padding-bottom: 215px;
}
.paddingTB--215 {
  padding-top: 215px;
  padding-bottom: 215px;
}
.paddingT--220 {
  padding-top: 220px;
}
.paddingB--220 {
  padding-bottom: 220px;
}
.paddingTB--220 {
  padding-top: 220px;
  padding-bottom: 220px;
}
.paddingT--225 {
  padding-top: 225px;
}
.paddingB--225 {
  padding-bottom: 225px;
}
.paddingTB--225 {
  padding-top: 225px;
  padding-bottom: 225px;
}
.paddingT--230 {
  padding-top: 230px;
}
.paddingB--230 {
  padding-bottom: 230px;
}
.paddingTB--230 {
  padding-top: 230px;
  padding-bottom: 230px;
}
.paddingT--235 {
  padding-top: 235px;
}
.paddingB--235 {
  padding-bottom: 235px;
}
.paddingTB--235 {
  padding-top: 235px;
  padding-bottom: 235px;
}
.paddingT--240 {
  padding-top: 240px;
}
.paddingB--240 {
  padding-bottom: 240px;
}
.paddingTB--240 {
  padding-top: 240px;
  padding-bottom: 240px;
}
.paddingT--245 {
  padding-top: 245px;
}
.paddingB--245 {
  padding-bottom: 245px;
}
.paddingTB--245 {
  padding-top: 245px;
  padding-bottom: 245px;
}
.paddingT--250 {
  padding-top: 250px;
}
.paddingB--250 {
  padding-bottom: 250px;
}
.paddingTB--250 {
  padding-top: 250px;
  padding-bottom: 250px;
}
.paddingT--255 {
  padding-top: 255px;
}
.paddingB--255 {
  padding-bottom: 255px;
}
.paddingTB--255 {
  padding-top: 255px;
  padding-bottom: 255px;
}
.paddingT--260 {
  padding-top: 260px;
}
.paddingB--260 {
  padding-bottom: 260px;
}
.paddingTB--260 {
  padding-top: 260px;
  padding-bottom: 260px;
}
.paddingT--265 {
  padding-top: 265px;
}
.paddingB--265 {
  padding-bottom: 265px;
}
.paddingTB--265 {
  padding-top: 265px;
  padding-bottom: 265px;
}
.paddingT--270 {
  padding-top: 270px;
}
.paddingB--270 {
  padding-bottom: 270px;
}
.paddingTB--270 {
  padding-top: 270px;
  padding-bottom: 270px;
}
.paddingT--275 {
  padding-top: 275px;
}
.paddingB--275 {
  padding-bottom: 275px;
}
.paddingTB--275 {
  padding-top: 275px;
  padding-bottom: 275px;
}
.paddingT--280 {
  padding-top: 280px;
}
.paddingB--280 {
  padding-bottom: 280px;
}
.paddingTB--280 {
  padding-top: 280px;
  padding-bottom: 280px;
}
.paddingT--285 {
  padding-top: 285px;
}
.paddingB--285 {
  padding-bottom: 285px;
}
.paddingTB--285 {
  padding-top: 285px;
  padding-bottom: 285px;
}
.paddingT--290 {
  padding-top: 290px;
}
.paddingB--290 {
  padding-bottom: 290px;
}
.paddingTB--290 {
  padding-top: 290px;
  padding-bottom: 290px;
}
.paddingT--295 {
  padding-top: 295px;
}
.paddingB--295 {
  padding-bottom: 295px;
}
.paddingTB--295 {
  padding-top: 295px;
  padding-bottom: 295px;
}
.paddingT--300 {
  padding-top: 300px;
}
.paddingB--300 {
  padding-bottom: 300px;
}
.paddingTB--300 {
  padding-top: 300px;
  padding-bottom: 300px;
}
@media screen and (max-width: 736px) {
  .paddingT--5 {
    padding-top: 2.5px;
  }
  .paddingB--5 {
    padding-bottom: 2.5px;
  }
  .paddingTB--5 {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }
  .paddingT--10 {
    padding-top: 5px;
  }
  .paddingB--10 {
    padding-bottom: 5px;
  }
  .paddingTB--10 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .paddingT--15 {
    padding-top: 7.5px;
  }
  .paddingB--15 {
    padding-bottom: 7.5px;
  }
  .paddingTB--15 {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
  .paddingT--20 {
    padding-top: 10px;
  }
  .paddingB--20 {
    padding-bottom: 10px;
  }
  .paddingTB--20 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .paddingT--25 {
    padding-top: 12.5px;
  }
  .paddingB--25 {
    padding-bottom: 12.5px;
  }
  .paddingTB--25 {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }
  .paddingT--30 {
    padding-top: 15px;
  }
  .paddingB--30 {
    padding-bottom: 15px;
  }
  .paddingTB--30 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .paddingT--35 {
    padding-top: 17.5px;
  }
  .paddingB--35 {
    padding-bottom: 17.5px;
  }
  .paddingTB--35 {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }
  .paddingT--40 {
    padding-top: 20px;
  }
  .paddingB--40 {
    padding-bottom: 20px;
  }
  .paddingTB--40 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .paddingT--45 {
    padding-top: 22.5px;
  }
  .paddingB--45 {
    padding-bottom: 22.5px;
  }
  .paddingTB--45 {
    padding-top: 22.5px;
    padding-bottom: 22.5px;
  }
  .paddingT--50 {
    padding-top: 25px;
  }
  .paddingB--50 {
    padding-bottom: 25px;
  }
  .paddingTB--50 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .paddingT--55 {
    padding-top: 27.5px;
  }
  .paddingB--55 {
    padding-bottom: 27.5px;
  }
  .paddingTB--55 {
    padding-top: 27.5px;
    padding-bottom: 27.5px;
  }
  .paddingT--60 {
    padding-top: 30px;
  }
  .paddingB--60 {
    padding-bottom: 30px;
  }
  .paddingTB--60 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .paddingT--65 {
    padding-top: 32.5px;
  }
  .paddingB--65 {
    padding-bottom: 32.5px;
  }
  .paddingTB--65 {
    padding-top: 32.5px;
    padding-bottom: 32.5px;
  }
  .paddingT--70 {
    padding-top: 35px;
  }
  .paddingB--70 {
    padding-bottom: 35px;
  }
  .paddingTB--70 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .paddingT--75 {
    padding-top: 37.5px;
  }
  .paddingB--75 {
    padding-bottom: 37.5px;
  }
  .paddingTB--75 {
    padding-top: 37.5px;
    padding-bottom: 37.5px;
  }
  .paddingT--80 {
    padding-top: 40px;
  }
  .paddingB--80 {
    padding-bottom: 40px;
  }
  .paddingTB--80 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .paddingT--85 {
    padding-top: 42.5px;
  }
  .paddingB--85 {
    padding-bottom: 42.5px;
  }
  .paddingTB--85 {
    padding-top: 42.5px;
    padding-bottom: 42.5px;
  }
  .paddingT--90 {
    padding-top: 45px;
  }
  .paddingB--90 {
    padding-bottom: 45px;
  }
  .paddingTB--90 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .paddingT--95 {
    padding-top: 47.5px;
  }
  .paddingB--95 {
    padding-bottom: 47.5px;
  }
  .paddingTB--95 {
    padding-top: 47.5px;
    padding-bottom: 47.5px;
  }
  .paddingT--100 {
    padding-top: 50px;
  }
  .paddingB--100 {
    padding-bottom: 50px;
  }
  .paddingTB--100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .paddingT--105 {
    padding-top: 52.5px;
  }
  .paddingB--105 {
    padding-bottom: 52.5px;
  }
  .paddingTB--105 {
    padding-top: 52.5px;
    padding-bottom: 52.5px;
  }
  .paddingT--110 {
    padding-top: 55px;
  }
  .paddingB--110 {
    padding-bottom: 55px;
  }
  .paddingTB--110 {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .paddingT--115 {
    padding-top: 57.5px;
  }
  .paddingB--115 {
    padding-bottom: 57.5px;
  }
  .paddingTB--115 {
    padding-top: 57.5px;
    padding-bottom: 57.5px;
  }
  .paddingT--120 {
    padding-top: 60px;
  }
  .paddingB--120 {
    padding-bottom: 60px;
  }
  .paddingTB--120 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .paddingT--125 {
    padding-top: 62.5px;
  }
  .paddingB--125 {
    padding-bottom: 62.5px;
  }
  .paddingTB--125 {
    padding-top: 62.5px;
    padding-bottom: 62.5px;
  }
  .paddingT--130 {
    padding-top: 65px;
  }
  .paddingB--130 {
    padding-bottom: 65px;
  }
  .paddingTB--130 {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .paddingT--135 {
    padding-top: 67.5px;
  }
  .paddingB--135 {
    padding-bottom: 67.5px;
  }
  .paddingTB--135 {
    padding-top: 67.5px;
    padding-bottom: 67.5px;
  }
  .paddingT--140 {
    padding-top: 70px;
  }
  .paddingB--140 {
    padding-bottom: 70px;
  }
  .paddingTB--140 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .paddingT--145 {
    padding-top: 72.5px;
  }
  .paddingB--145 {
    padding-bottom: 72.5px;
  }
  .paddingTB--145 {
    padding-top: 72.5px;
    padding-bottom: 72.5px;
  }
  .paddingT--150 {
    padding-top: 75px;
  }
  .paddingB--150 {
    padding-bottom: 75px;
  }
  .paddingTB--150 {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .paddingT--155 {
    padding-top: 77.5px;
  }
  .paddingB--155 {
    padding-bottom: 77.5px;
  }
  .paddingTB--155 {
    padding-top: 77.5px;
    padding-bottom: 77.5px;
  }
  .paddingT--160 {
    padding-top: 80px;
  }
  .paddingB--160 {
    padding-bottom: 80px;
  }
  .paddingTB--160 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .paddingT--165 {
    padding-top: 82.5px;
  }
  .paddingB--165 {
    padding-bottom: 82.5px;
  }
  .paddingTB--165 {
    padding-top: 82.5px;
    padding-bottom: 82.5px;
  }
  .paddingT--170 {
    padding-top: 85px;
  }
  .paddingB--170 {
    padding-bottom: 85px;
  }
  .paddingTB--170 {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  .paddingT--175 {
    padding-top: 87.5px;
  }
  .paddingB--175 {
    padding-bottom: 87.5px;
  }
  .paddingTB--175 {
    padding-top: 87.5px;
    padding-bottom: 87.5px;
  }
  .paddingT--180 {
    padding-top: 90px;
  }
  .paddingB--180 {
    padding-bottom: 90px;
  }
  .paddingTB--180 {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .paddingT--185 {
    padding-top: 92.5px;
  }
  .paddingB--185 {
    padding-bottom: 92.5px;
  }
  .paddingTB--185 {
    padding-top: 92.5px;
    padding-bottom: 92.5px;
  }
  .paddingT--190 {
    padding-top: 95px;
  }
  .paddingB--190 {
    padding-bottom: 95px;
  }
  .paddingTB--190 {
    padding-top: 95px;
    padding-bottom: 95px;
  }
  .paddingT--195 {
    padding-top: 97.5px;
  }
  .paddingB--195 {
    padding-bottom: 97.5px;
  }
  .paddingTB--195 {
    padding-top: 97.5px;
    padding-bottom: 97.5px;
  }
  .paddingT--200 {
    padding-top: 100px;
  }
  .paddingB--200 {
    padding-bottom: 100px;
  }
  .paddingTB--200 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .paddingT--205 {
    padding-top: 102.5px;
  }
  .paddingB--205 {
    padding-bottom: 102.5px;
  }
  .paddingTB--205 {
    padding-top: 102.5px;
    padding-bottom: 102.5px;
  }
  .paddingT--210 {
    padding-top: 105px;
  }
  .paddingB--210 {
    padding-bottom: 105px;
  }
  .paddingTB--210 {
    padding-top: 105px;
    padding-bottom: 105px;
  }
  .paddingT--215 {
    padding-top: 107.5px;
  }
  .paddingB--215 {
    padding-bottom: 107.5px;
  }
  .paddingTB--215 {
    padding-top: 107.5px;
    padding-bottom: 107.5px;
  }
  .paddingT--220 {
    padding-top: 110px;
  }
  .paddingB--220 {
    padding-bottom: 110px;
  }
  .paddingTB--220 {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .paddingT--225 {
    padding-top: 112.5px;
  }
  .paddingB--225 {
    padding-bottom: 112.5px;
  }
  .paddingTB--225 {
    padding-top: 112.5px;
    padding-bottom: 112.5px;
  }
  .paddingT--230 {
    padding-top: 115px;
  }
  .paddingB--230 {
    padding-bottom: 115px;
  }
  .paddingTB--230 {
    padding-top: 115px;
    padding-bottom: 115px;
  }
  .paddingT--235 {
    padding-top: 117.5px;
  }
  .paddingB--235 {
    padding-bottom: 117.5px;
  }
  .paddingTB--235 {
    padding-top: 117.5px;
    padding-bottom: 117.5px;
  }
  .paddingT--240 {
    padding-top: 120px;
  }
  .paddingB--240 {
    padding-bottom: 120px;
  }
  .paddingTB--240 {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .paddingT--245 {
    padding-top: 122.5px;
  }
  .paddingB--245 {
    padding-bottom: 122.5px;
  }
  .paddingTB--245 {
    padding-top: 122.5px;
    padding-bottom: 122.5px;
  }
  .paddingT--250 {
    padding-top: 125px;
  }
  .paddingB--250 {
    padding-bottom: 125px;
  }
  .paddingTB--250 {
    padding-top: 125px;
    padding-bottom: 125px;
  }
  .paddingT--255 {
    padding-top: 127.5px;
  }
  .paddingB--255 {
    padding-bottom: 127.5px;
  }
  .paddingTB--255 {
    padding-top: 127.5px;
    padding-bottom: 127.5px;
  }
  .paddingT--260 {
    padding-top: 130px;
  }
  .paddingB--260 {
    padding-bottom: 130px;
  }
  .paddingTB--260 {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .paddingT--265 {
    padding-top: 132.5px;
  }
  .paddingB--265 {
    padding-bottom: 132.5px;
  }
  .paddingTB--265 {
    padding-top: 132.5px;
    padding-bottom: 132.5px;
  }
  .paddingT--270 {
    padding-top: 135px;
  }
  .paddingB--270 {
    padding-bottom: 135px;
  }
  .paddingTB--270 {
    padding-top: 135px;
    padding-bottom: 135px;
  }
  .paddingT--275 {
    padding-top: 137.5px;
  }
  .paddingB--275 {
    padding-bottom: 137.5px;
  }
  .paddingTB--275 {
    padding-top: 137.5px;
    padding-bottom: 137.5px;
  }
  .paddingT--280 {
    padding-top: 140px;
  }
  .paddingB--280 {
    padding-bottom: 140px;
  }
  .paddingTB--280 {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .paddingT--285 {
    padding-top: 142.5px;
  }
  .paddingB--285 {
    padding-bottom: 142.5px;
  }
  .paddingTB--285 {
    padding-top: 142.5px;
    padding-bottom: 142.5px;
  }
  .paddingT--290 {
    padding-top: 145px;
  }
  .paddingB--290 {
    padding-bottom: 145px;
  }
  .paddingTB--290 {
    padding-top: 145px;
    padding-bottom: 145px;
  }
  .paddingT--295 {
    padding-top: 147.5px;
  }
  .paddingB--295 {
    padding-bottom: 147.5px;
  }
  .paddingTB--295 {
    padding-top: 147.5px;
    padding-bottom: 147.5px;
  }
  .paddingT--300 {
    padding-top: 150px;
  }
  .paddingB--300 {
    padding-bottom: 150px;
  }
  .paddingTB--300 {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .paddingT--0--sp {
    padding-top: 0;
  }
  .paddingB--0--sp {
    padding-bottom: 0;
  }
  .paddingTB--0--sp {
    padding-top: 0;
    padding-bottom: 0;
  }
  .paddingT--5--sp {
    padding-top: 5px;
  }
  .paddingB--5--sp {
    padding-bottom: 5px;
  }
  .paddingTB--5--sp {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .paddingT--10--sp {
    padding-top: 10px;
  }
  .paddingB--10--sp {
    padding-bottom: 10px;
  }
  .paddingTB--10--sp {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .paddingT--15--sp {
    padding-top: 15px;
  }
  .paddingB--15--sp {
    padding-bottom: 15px;
  }
  .paddingTB--15--sp {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .paddingT--20--sp {
    padding-top: 20px;
  }
  .paddingB--20--sp {
    padding-bottom: 20px;
  }
  .paddingTB--20--sp {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .paddingT--25--sp {
    padding-top: 25px;
  }
  .paddingB--25--sp {
    padding-bottom: 25px;
  }
  .paddingTB--25--sp {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .paddingT--30--sp {
    padding-top: 30px;
  }
  .paddingB--30--sp {
    padding-bottom: 30px;
  }
  .paddingTB--30--sp {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .paddingT--35--sp {
    padding-top: 35px;
  }
  .paddingB--35--sp {
    padding-bottom: 35px;
  }
  .paddingTB--35--sp {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .paddingT--40--sp {
    padding-top: 40px;
  }
  .paddingB--40--sp {
    padding-bottom: 40px;
  }
  .paddingTB--40--sp {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .paddingT--45--sp {
    padding-top: 45px;
  }
  .paddingB--45--sp {
    padding-bottom: 45px;
  }
  .paddingTB--45--sp {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .paddingT--50--sp {
    padding-top: 50px;
  }
  .paddingB--50--sp {
    padding-bottom: 50px;
  }
  .paddingTB--50--sp {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .paddingT--55--sp {
    padding-top: 55px;
  }
  .paddingB--55--sp {
    padding-bottom: 55px;
  }
  .paddingTB--55--sp {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .paddingT--60--sp {
    padding-top: 60px;
  }
  .paddingB--60--sp {
    padding-bottom: 60px;
  }
  .paddingTB--60--sp {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .paddingT--65--sp {
    padding-top: 65px;
  }
  .paddingB--65--sp {
    padding-bottom: 65px;
  }
  .paddingTB--65--sp {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .paddingT--70--sp {
    padding-top: 70px;
  }
  .paddingB--70--sp {
    padding-bottom: 70px;
  }
  .paddingTB--70--sp {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .paddingT--75--sp {
    padding-top: 75px;
  }
  .paddingB--75--sp {
    padding-bottom: 75px;
  }
  .paddingTB--75--sp {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .paddingT--80--sp {
    padding-top: 80px;
  }
  .paddingB--80--sp {
    padding-bottom: 80px;
  }
  .paddingTB--80--sp {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .paddingT--85--sp {
    padding-top: 85px;
  }
  .paddingB--85--sp {
    padding-bottom: 85px;
  }
  .paddingTB--85--sp {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  .paddingT--90--sp {
    padding-top: 90px;
  }
  .paddingB--90--sp {
    padding-bottom: 90px;
  }
  .paddingTB--90--sp {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .paddingT--95--sp {
    padding-top: 95px;
  }
  .paddingB--95--sp {
    padding-bottom: 95px;
  }
  .paddingTB--95--sp {
    padding-top: 95px;
    padding-bottom: 95px;
  }
  .paddingT--100--sp {
    padding-top: 100px;
  }
  .paddingB--100--sp {
    padding-bottom: 100px;
  }
  .paddingTB--100--sp {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .paddingT--105--sp {
    padding-top: 105px;
  }
  .paddingB--105--sp {
    padding-bottom: 105px;
  }
  .paddingTB--105--sp {
    padding-top: 105px;
    padding-bottom: 105px;
  }
  .paddingT--110--sp {
    padding-top: 110px;
  }
  .paddingB--110--sp {
    padding-bottom: 110px;
  }
  .paddingTB--110--sp {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .paddingT--115--sp {
    padding-top: 115px;
  }
  .paddingB--115--sp {
    padding-bottom: 115px;
  }
  .paddingTB--115--sp {
    padding-top: 115px;
    padding-bottom: 115px;
  }
  .paddingT--120--sp {
    padding-top: 120px;
  }
  .paddingB--120--sp {
    padding-bottom: 120px;
  }
  .paddingTB--120--sp {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .paddingT--125--sp {
    padding-top: 125px;
  }
  .paddingB--125--sp {
    padding-bottom: 125px;
  }
  .paddingTB--125--sp {
    padding-top: 125px;
    padding-bottom: 125px;
  }
  .paddingT--130--sp {
    padding-top: 130px;
  }
  .paddingB--130--sp {
    padding-bottom: 130px;
  }
  .paddingTB--130--sp {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .paddingT--135--sp {
    padding-top: 135px;
  }
  .paddingB--135--sp {
    padding-bottom: 135px;
  }
  .paddingTB--135--sp {
    padding-top: 135px;
    padding-bottom: 135px;
  }
  .paddingT--140--sp {
    padding-top: 140px;
  }
  .paddingB--140--sp {
    padding-bottom: 140px;
  }
  .paddingTB--140--sp {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .paddingT--145--sp {
    padding-top: 145px;
  }
  .paddingB--145--sp {
    padding-bottom: 145px;
  }
  .paddingTB--145--sp {
    padding-top: 145px;
    padding-bottom: 145px;
  }
  .paddingT--150--sp {
    padding-top: 150px;
  }
  .paddingB--150--sp {
    padding-bottom: 150px;
  }
  .paddingTB--150--sp {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .paddingT--155--sp {
    padding-top: 155px;
  }
  .paddingB--155--sp {
    padding-bottom: 155px;
  }
  .paddingTB--155--sp {
    padding-top: 155px;
    padding-bottom: 155px;
  }
  .paddingT--160--sp {
    padding-top: 160px;
  }
  .paddingB--160--sp {
    padding-bottom: 160px;
  }
  .paddingTB--160--sp {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .paddingT--165--sp {
    padding-top: 165px;
  }
  .paddingB--165--sp {
    padding-bottom: 165px;
  }
  .paddingTB--165--sp {
    padding-top: 165px;
    padding-bottom: 165px;
  }
  .paddingT--170--sp {
    padding-top: 170px;
  }
  .paddingB--170--sp {
    padding-bottom: 170px;
  }
  .paddingTB--170--sp {
    padding-top: 170px;
    padding-bottom: 170px;
  }
  .paddingT--175--sp {
    padding-top: 175px;
  }
  .paddingB--175--sp {
    padding-bottom: 175px;
  }
  .paddingTB--175--sp {
    padding-top: 175px;
    padding-bottom: 175px;
  }
  .paddingT--180--sp {
    padding-top: 180px;
  }
  .paddingB--180--sp {
    padding-bottom: 180px;
  }
  .paddingTB--180--sp {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .paddingT--185--sp {
    padding-top: 185px;
  }
  .paddingB--185--sp {
    padding-bottom: 185px;
  }
  .paddingTB--185--sp {
    padding-top: 185px;
    padding-bottom: 185px;
  }
  .paddingT--190--sp {
    padding-top: 190px;
  }
  .paddingB--190--sp {
    padding-bottom: 190px;
  }
  .paddingTB--190--sp {
    padding-top: 190px;
    padding-bottom: 190px;
  }
  .paddingT--195--sp {
    padding-top: 195px;
  }
  .paddingB--195--sp {
    padding-bottom: 195px;
  }
  .paddingTB--195--sp {
    padding-top: 195px;
    padding-bottom: 195px;
  }
  .paddingT--200--sp {
    padding-top: 200px;
  }
  .paddingB--200--sp {
    padding-bottom: 200px;
  }
  .paddingTB--200--sp {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .paddingT--205--sp {
    padding-top: 205px;
  }
  .paddingB--205--sp {
    padding-bottom: 205px;
  }
  .paddingTB--205--sp {
    padding-top: 205px;
    padding-bottom: 205px;
  }
  .paddingT--210--sp {
    padding-top: 210px;
  }
  .paddingB--210--sp {
    padding-bottom: 210px;
  }
  .paddingTB--210--sp {
    padding-top: 210px;
    padding-bottom: 210px;
  }
  .paddingT--215--sp {
    padding-top: 215px;
  }
  .paddingB--215--sp {
    padding-bottom: 215px;
  }
  .paddingTB--215--sp {
    padding-top: 215px;
    padding-bottom: 215px;
  }
  .paddingT--220--sp {
    padding-top: 220px;
  }
  .paddingB--220--sp {
    padding-bottom: 220px;
  }
  .paddingTB--220--sp {
    padding-top: 220px;
    padding-bottom: 220px;
  }
  .paddingT--225--sp {
    padding-top: 225px;
  }
  .paddingB--225--sp {
    padding-bottom: 225px;
  }
  .paddingTB--225--sp {
    padding-top: 225px;
    padding-bottom: 225px;
  }
  .paddingT--230--sp {
    padding-top: 230px;
  }
  .paddingB--230--sp {
    padding-bottom: 230px;
  }
  .paddingTB--230--sp {
    padding-top: 230px;
    padding-bottom: 230px;
  }
  .paddingT--235--sp {
    padding-top: 235px;
  }
  .paddingB--235--sp {
    padding-bottom: 235px;
  }
  .paddingTB--235--sp {
    padding-top: 235px;
    padding-bottom: 235px;
  }
  .paddingT--240--sp {
    padding-top: 240px;
  }
  .paddingB--240--sp {
    padding-bottom: 240px;
  }
  .paddingTB--240--sp {
    padding-top: 240px;
    padding-bottom: 240px;
  }
  .paddingT--245--sp {
    padding-top: 245px;
  }
  .paddingB--245--sp {
    padding-bottom: 245px;
  }
  .paddingTB--245--sp {
    padding-top: 245px;
    padding-bottom: 245px;
  }
  .paddingT--250--sp {
    padding-top: 250px;
  }
  .paddingB--250--sp {
    padding-bottom: 250px;
  }
  .paddingTB--250--sp {
    padding-top: 250px;
    padding-bottom: 250px;
  }
  .paddingT--255--sp {
    padding-top: 255px;
  }
  .paddingB--255--sp {
    padding-bottom: 255px;
  }
  .paddingTB--255--sp {
    padding-top: 255px;
    padding-bottom: 255px;
  }
  .paddingT--260--sp {
    padding-top: 260px;
  }
  .paddingB--260--sp {
    padding-bottom: 260px;
  }
  .paddingTB--260--sp {
    padding-top: 260px;
    padding-bottom: 260px;
  }
  .paddingT--265--sp {
    padding-top: 265px;
  }
  .paddingB--265--sp {
    padding-bottom: 265px;
  }
  .paddingTB--265--sp {
    padding-top: 265px;
    padding-bottom: 265px;
  }
  .paddingT--270--sp {
    padding-top: 270px;
  }
  .paddingB--270--sp {
    padding-bottom: 270px;
  }
  .paddingTB--270--sp {
    padding-top: 270px;
    padding-bottom: 270px;
  }
  .paddingT--275--sp {
    padding-top: 275px;
  }
  .paddingB--275--sp {
    padding-bottom: 275px;
  }
  .paddingTB--275--sp {
    padding-top: 275px;
    padding-bottom: 275px;
  }
  .paddingT--280--sp {
    padding-top: 280px;
  }
  .paddingB--280--sp {
    padding-bottom: 280px;
  }
  .paddingTB--280--sp {
    padding-top: 280px;
    padding-bottom: 280px;
  }
  .paddingT--285--sp {
    padding-top: 285px;
  }
  .paddingB--285--sp {
    padding-bottom: 285px;
  }
  .paddingTB--285--sp {
    padding-top: 285px;
    padding-bottom: 285px;
  }
  .paddingT--290--sp {
    padding-top: 290px;
  }
  .paddingB--290--sp {
    padding-bottom: 290px;
  }
  .paddingTB--290--sp {
    padding-top: 290px;
    padding-bottom: 290px;
  }
  .paddingT--295--sp {
    padding-top: 295px;
  }
  .paddingB--295--sp {
    padding-bottom: 295px;
  }
  .paddingTB--295--sp {
    padding-top: 295px;
    padding-bottom: 295px;
  }
  .paddingT--300--sp {
    padding-top: 300px;
  }
  .paddingB--300--sp {
    padding-bottom: 300px;
  }
  .paddingTB--300--sp {
    padding-top: 300px;
    padding-bottom: 300px;
  }
}
.ac {
  text-align: center;
}
.ar {
  text-align: right;
}
.al {
  text-align: left;
}
.aj {
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .sp-ac {
    text-align: center;
  }
  .sp-ar {
    text-align: right;
  }
  .sp-al {
    text-align: left;
  }
  .sp-aj {
    text-align: justify;
  }
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fw-no {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.jc-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.jc-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.jc-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.jc-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.jc-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
@media screen and (max-width: 1024px) {
  .jc-tab-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .jc-tab-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .jc-tab-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .jc-tab-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .jc-tab-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .jc-tab-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 736px) {
  .jc-sp-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .jc-sp-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .jc-sp-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .jc-sp-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .jc-sp-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .jc-sp-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}
.ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ai-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.ai-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
@media screen and (max-width: 1024px) {
  .ai-tab-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .ai-tab-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .ai-tab-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
@media screen and (max-width: 736px) {
  .ai-sp-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .ai-sp-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .ai-sp-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
.fd-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.fd-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.fd-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.fd-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@media screen and (max-width: 1024px) {
  .fd-tab-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .fd-tab-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .fd-tab-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .fd-tab-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 736px) {
  .fd-sp-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .fd-sp-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .fd-sp-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .fd-sp-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.relative {
  position: relative;
}
.bold {
  font-weight: bold;
}
.fade-in {
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
  opacity: 0;
}
.fade-in .lowBtn {
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
  opacity: 0;
}
[data-aos="blockMarkerCnt"].aos-animate .fade-in {
  opacity: 1;
}
[data-aos="blockMarkerCnt"].aos-animate .fade-in .lowBtn {
  opacity: 1;
}
[data-aos="fade-in"] {
  opacity: 0;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  -webkit-transition-timing-function: cubic-bezier(0.03, 1.05, 1, 0.4);
  -o-transition-timing-function: cubic-bezier(0.03, 1.05, 1, 0.4);
  transition-timing-function: cubic-bezier(0.03, 1.05, 1, 0.4);
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
[data-aos="fade-in"].aos-animate {
  opacity: 1;
}
.z-index--2 {
  z-index: 2;
}
.z-index--3 {
  z-index: 3;
}
.garamond {
  font-family: 'EB Garamond', serif;
}
.ai-normal {
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
}
.underline {
  position: relative;
  display: inline-block;
}
.underline::before {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0.2em;
  background-color: #009e96;
}
@media screen and (max-width: 768px) {
  .underline::before {
    height: 1px;
    bottom: 0.1em;
  }
}
.inline {
  display: inline-block;
}
.hover:hover .hover__marker::before {
  -webkit-animation: hoverMarker 0.8s;
  animation: hoverMarker 0.8s;
}
.hover__marker {
  position: relative;
}
.hover__marker::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #009e96;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}
@media screen and (max-width: 768px) {
  .hover__marker::before {
    display: none;
  }
}
@-moz-keyframes hoverMarker {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  51% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
@-webkit-keyframes hoverMarker {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  51% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}
@-o-keyframes hoverMarker {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  51% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
@keyframes hoverMarker {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  51% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}
/* --------------------------------------------------------------------------------
  8. limited
-------------------------------------------------------------------------------- */
.container--limited {
  position: relative;
  padding: 190px 0 200px;
  background: url("../../limited/imgs/bg-container.jpg") no-repeat;
  background-size: cover;
/* spのフォントサイズを指定 */
  font-size: 12px;
  font-size: 3.75vw;
}
@media screen and (min-width: 769px) {
  .container--limited {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .container--limited {
    padding: 95px 0 100px;
  }
}
.container--limited .line {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 95px;
  margin-left: -0.5px;
  background: #d9d9d9;
}
@media screen and (max-width: 768px) {
  .container--limited .line {
    height: 50px;
  }
}
.container--limited .line__wrap {
  height: 100%;
}
.container--limited .line__inner {
  display: block;
  -webkit-animation: lineMarker 3s ease 0.5s infinite;
  animation: lineMarker 3s ease 0.5s infinite;
}
@-moz-keyframes lineMarker {
  0% {
    height: 0;
    background-color: #039089;
  }
  30% {
    height: 100%;
    background-color: #039089;
  }
  100% {
    height: 100%;
    background-color: #d9d9d9;
  }
}
@-webkit-keyframes lineMarker {
  0% {
    height: 0;
    background-color: #039089;
  }
  30% {
    height: 100%;
    background-color: #039089;
  }
  100% {
    height: 100%;
    background-color: #d9d9d9;
  }
}
@-o-keyframes lineMarker {
  0% {
    height: 0;
    background-color: #039089;
  }
  30% {
    height: 100%;
    background-color: #039089;
  }
  100% {
    height: 100%;
    background-color: #d9d9d9;
  }
}
@keyframes lineMarker {
  0% {
    height: 0;
    background-color: #039089;
  }
  30% {
    height: 100%;
    background-color: #039089;
  }
  100% {
    height: 100%;
    background-color: #d9d9d9;
  }
}
.container--limited .headline--01 {
/* spのフォントサイズを指定 */
  font-size: 19px;
  font-size: 5.9375vw;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .container--limited .headline--01 {
    font-size: 24px;
  }
}
.container--limited .text {
/* spのフォントサイズを指定 */
  font-size: 12px;
  font-size: 3.75vw;
  font-family: 'Noto Serif Japanese', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  line-height: 2;
}
@media screen and (min-width: 769px) {
  .container--limited .text {
    font-size: 13px;
  }
}

/*# sourceMappingURL=common.css.map */
