@charset "utf-8";
@media screen and (max-width: 768px) {
  #container {
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .sp-nowrap {
    padding: 0;
  }
  .sp-nowrap--01 {
    width: calc(100% - 20px);
    margin: auto 0 auto auto;
  }
  .sp-nowrap--02 {
    width: calc(100% - 20px);
    margin: auto auto auto 0;
  }
}
.index---1 {
  z-index: -1;
}
.index--01 {
  z-index: 1;
}
.index--02 {
  z-index: 2;
}
.index--03 {
  z-index: 3;
}
.index--04 {
  z-index: 4;
}
.index--05 {
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .order--1st {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order--2st {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order--3st {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order--4st {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order--5st {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
}
.bg-gray {
  background-color: #f7f7f7;
}
.sup {
  font-size: 10px;
  vertical-align: 1em;
  letter-spacing: 0;
}
.ai-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.ai-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.topVisual .clm {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .topVisual .clm--01 {
    width: 100%;
    overflow-x: scroll;
  }
}
.topVisual .clm--02 {
  position: relative;
/*      [data-aos='blockMarker'].aos-animate {
        animation-delay 1s
      }
      [data-aos='blockMarkerCnt'].aos-animate {
        animation-delay 1s
      }*/
}
@media screen and (max-width: 768px) {
  .topVisual .clm--02 {
    width: calc(100% - 60px);
    margin: 0 auto;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    margin-bottom: -50px;
  }
}
.topVisual__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
}
@media screen and (max-width: 768px) {
  .topVisual__text {
    width: 70%;
  }
}
.aos-animate .topVisual__text {
  opacity: 1;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
@media screen and (max-width: 768px) {
  .aos-animate .topVisual__text {
    -webkit-transition-delay: 2.5s;
    -o-transition-delay: 2.5s;
    transition-delay: 2.5s;
  }
}
.usp {
  background: url("../imgs/bg-usp.jpg") no-repeat top center;
  background-size: cover;
  padding: 60px 0 110px;
}
@media screen and (max-width: 768px) {
  .usp {
    padding: 30px 0 40px;
  }
}
.usp .caption {
  color: #e2e2e2;
  padding-top: 0.5em;
}
.usp__list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.usp__item {
  padding-right: 90px;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .usp__item {
    padding: 0;
  }
}
.usp__item:last-child {
  padding-right: 0;
}
.usp__text {
  color: #e2e2e2;
  font-size: 19px;
  line-height: calc(39em / 19);
  letter-spacing: 0.19em;
}
@media screen and (max-width: 768px) {
  .usp__text {
    font-size: calc(12vw / 320 * 100);
  }
}
.usp__text .size--01 {
  font-size: calc(19em / 19);
}
.usp__text .size--02 {
  font-size: calc(18em / 19);
  letter-spacing: 0;
}
.usp__text .size--03 {
  font-size: calc(21em / 19);
}
.usp__text .size--04 {
  font-size: calc(35em / 19);
  line-height: 0;
}
.usp__slash {
  position: absolute;
  right: 45px;
  top: 1.5em;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  width: 1px;
  height: 40px;
  background-color: #e2e2e2;
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .usp__slash {
    display: none;
  }
}
.entryBlock {
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
  margin-bottom: -50px;
  z-index: 3;
  position: relative;
}
@media screen and (max-width: 768px) {
  .entryBlock {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-bottom: 0;
    width: 100%;
  }
}
.entryBlock__inner {
  background-color: #eceff1;
}
.entryBlock .line {
  bottom: -60px;
}
@media screen and (max-width: 768px) {
  .entryBlock .line {
    height: 50px;
    bottom: -33px;
  }
}
.entryBlock .row--03 {
  padding: 55px 50px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .entryBlock .row--03 {
    padding: 35px 15px 40px;
  }
}
.entryBlock__title {
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.14em;
  color: rgba(17,17,17,0.5);
  padding-right: 40px;
}
@media screen and (max-width: 768px) {
  .entryBlock__title {
    padding-right: 0;
    font-size: 12px;
  }
}
.entryBlock__headline {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.26em;
  color: #333;
  padding-right: 30px;
}
@media screen and (max-width: 768px) {
  .entryBlock__headline {
    font-size: 14px;
    padding-right: 0;
  }
}
.clm--w90 {
  width: 90px;
}
.clm--w200 {
  width: 200px;
}
.clm--w250 {
  width: 250px;
}
.clm--w260 {
  width: 260px;
}
.clm--w280 {
  width: 280px;
}
.clm--w350 {
  width: 350px;
}
.clm--w360 {
  width: 360px;
}
.clm--w390 {
  width: 390px;
}
.clm--w440 {
  width: 440px;
}
.clm--w480 {
  width: 480px;
}
.clm--w500 {
  width: 500px;
}
.clm--w640 {
  width: 640px;
}
.clm--w640 .caption {
  padding-bottom: 5px;
}
.clm--w760 {
  width: 760px;
}
.clm--w800 {
  width: 800px;
}
@media screen and (max-width: 768px) {
  .clm--w90 {
    width: calc(160% / 600 * 100);
  }
  .clm--w200 {
    width: 100%;
  }
  .clm--w250 {
    width: 100%;
  }
  .clm--w260 {
    width: 100%;
  }
  .clm--w280 {
    width: calc(410% / 600 * 100);
  }
  .clm--w350 {
    width: calc(350% / 600 * 100);
  }
  .clm--w360 {
    width: calc(360% / 600 * 100);
  }
  .clm--w390 {
    width: 100%;
  }
  .clm--w440 {
    width: 100%;
  }
  .clm--w480 {
    width: 100%;
  }
  .clm--w500 {
    width: 100%;
  }
  .clm--w640 {
    width: calc(240% / 600 * 100);
  }
  .clm--w640 .caption {
    padding-bottom: 5px;
  }
  .clm--w800 {
    width: 100%;
  }
}
.lowLink {
  width: 160px;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  overflow: hidden;
  font-size: 14px;
  z-index: 2;
/*  &.btn a:hover:before {
    transform-origin right top;
  }*/
}
@media screen and (max-width: 768px) {
  .lowLink {
    min-width: 155px;
    width: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    font-size: 10px;
    margin: 30px auto 0;
  }
}
.lowLink a {
  display: block;
  padding: 70px 0;
  background-color: #039089;
  color: #fff;
  font-family: 'EB Garamond', serif;
  line-height: 1;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .lowLink a {
    border: 1px solid #bfbfbf;
    padding: 7px 30px 7px 40px;
    line-height: 1.7em;
  }
}
.lowLink a:before {
  background-color: #1e1e1e;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: -webkit-transform 0.5s, -webkit-transform-origin 0s;
  transition: -webkit-transform 0.5s, -webkit-transform-origin 0s;
  -o-transition: transform 0.5s, transform-origin 0s;
  transition: transform 0.5s, transform-origin 0s;
  transition: transform 0.5s, transform-origin 0s, -webkit-transform 0.5s, -webkit-transform-origin 0s, -ms-transform-origin 0s;
}
.lowLink a:hover .lowLink__text:before {
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
.lowLink a:hover .lowLink__text:after {
  border-bottom: 1px solid #1e1e1e;
  border-left: 1px solid #1e1e1e;
}
.lowLink__text {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media screen and (max-width: 768px) {
  .lowLink__text {
    padding-left: 0;
  }
}
.lowLink__text::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(225deg) translateY(-50%);
  -ms-transform: rotate(225deg) translateY(-50%);
  transform: rotate(225deg) translateY(-50%);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  left: 0;
  border-bottom: 1px solid #009e96;
  border-left: 1px solid #009e96;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .lowLink__text::after {
    left: -3.2em;
  }
}
.section--01 {
  padding-top: 130px;
}
@media screen and (max-width: 768px) {
  .section--01 {
    padding-top: 60px;
  }
}
.section--01 .clm--02 {
  width: 900px;
  padding-right: 100px;
  margin: auto 0 auto auto;
}
@media screen and (max-width: 768px) {
  .section--01 .clm--02 {
    width: 100%;
    padding-right: 0;
  }
}
.section--02 {
  padding-top: 80px;
}
.section--02 .clm--02 {
  padding-left: 100px;
}
@media screen and (max-width: 768px) {
  .section--02 .clm--02 {
    padding-left: 0;
  }
}
.section--03 {
  padding-top: 150px;
}
@media screen and (max-width: 768px) {
  .section--03 {
    padding-top: 70px;
  }
}
.section--03 .bg-gray {
  padding: 110px 0;
}
@media screen and (max-width: 768px) {
  .section--03 .bg-gray {
    padding: 50px 0 75px;
  }
}
.section--03 .clm--w480 {
  padding-bottom: 50px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .section--03 .clm--w480 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 55px;
  }
  .section--03 .clm--w480:first-child {
    padding-top: 0;
  }
}
.section--03 .lowBtn {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .section--03__image {
    max-width: 480px;
    padding-top: 20px;
  }
}
.textBlock--01 {
  padding-top: 65px;
}
@media screen and (max-width: 768px) {
  .textBlock--01 {
    padding-top: 30px;
  }
}
.textBlock--01__headline {
  font-size: 24px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .textBlock--01__headline {
    font-size: 18px;
  }
}
.textBlock--01__headline .size--01 {
  font-size: calc(24em / 24);
}
.textBlock--01__headline .size--02 {
  font-size: calc(31em / 24);
}
.textBlock--01__text {
  padding-top: 30px;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .textBlock--01__text {
    padding-top: 30px;
    line-height: 2em;
    font-size: 12px;
  }
}
.textBlock--02__headline {
  padding-top: 30px;
  font-size: 22px;
  color: #000;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .textBlock--02__headline {
    width: 100%;
    font-size: 18px;
    padding-top: 0;
  }
}
.textBlock--02__text {
  padding-top: calc(20px - 0.4em);
  font-size: 13px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .textBlock--02__text {
    width: calc(290% / 560 * 100);
    font-size: 12px;
    text-align: justify;
  }
}
.lowBtn {
  min-width: 160px;
  text-align: center;
}
.lowBtn__border {
  border: 1px solid #bfbfbf;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #1e1e1e;
  padding: 0 30px 0 40px;
  position: relative;
}
.lowBtn__border::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #009e96;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.lowBtn:hover .lowBtn__border::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.lowBtn:hover .lowBtn__text {
  color: #fff;
}
.lowBtn:hover .lowBtn__text::after {
  border-bottom: 1px solid #1e1e1e;
  border-left: 1px solid #1e1e1e;
}
.lowBtn__inner {
  position: relative;
  padding: 5px 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.lowBtn__text {
  display: inline-block;
  font-size: 10px;
  font-family: "游明朝", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1em;
  letter-spacing: 0.14em;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.lowBtn__text--01 {
  font-size: 12px;
}
.lowBtn__text::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(225deg) translateY(-50%);
  -ms-transform: rotate(225deg) translateY(-50%);
  transform: rotate(225deg) translateY(-50%);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  left: -2em;
  border-bottom: 1px solid #009e96;
  border-left: 1px solid #009e96;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .lowBtn__text::after {
    top: 50%;
    -webkit-transform: rotate(225deg) translateX(-60%);
    -ms-transform: rotate(225deg) translateX(-60%);
    transform: rotate(225deg) translateX(-60%);
  }
}
.lowBtn--white {
  display: inline-block;
}
.lowBtn--white .lowBtn__border {
  border: 1px solid #bfbfbf;
  background-color: #fff;
}
.lowBtn--white .lowBtn__text {
  color: #181818;
}
.usp .slick-dots {
  bottom: -30px;
}
.usp .slick-dots li button {
  width: 100%;
  height: 3px;
  border-radius: 0;
  padding: 0;
}
.usp .slick-dots li {
  width: calc(67% / 640 * 100);
}
.usp .slick-dots li button {
  position: relative;
}
.usp .slick-dots li button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform-origin 0s;
  transition: -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform-origin 0s;
  -o-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1), transform-origin 0s;
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1), transform-origin 0s;
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1), transform-origin 0s, -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform-origin 0s, -ms-transform-origin 0s;
  background-color: #06857f;
}
.usp .slick-dots li.slick-active button {
  position: relative;
  background: #9c9c9c;
}
.usp .slick-dots li.slick-active button::before {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.fade-in {
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
  opacity: 0;
}
.fade-in .lowBtn {
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
  opacity: 0;
}
[data-aos="blockMarkerCnt"].aos-animate .fade-in {
  opacity: 1;
}
[data-aos="blockMarkerCnt"].aos-animate .fade-in .lowBtn {
  opacity: 1;
}
.cap__space {
  display: block;
  height: 1.4em;
}
@media screen and (max-width: 768px) {
  .imageScroll .sp-nowrap {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .imageScroll .clm--01 {
    width: 271.5%;
  }
  .imageScroll .clm--w350 {
    width: calc(313% / 1360 * 100);
  }
  .imageScroll .clm--w640 {
    width: calc(710% / 1360 * 100);
  }
}
.bg-dark {
  background-color: #181818;
}
.clm--w164 {
  width: 164px;
}
.clm--w265 {
  width: 265px;
}
.clm--w836 {
  width: 836px;
}
@media screen and (max-width: 768px) {
  .clm--w164 {
    width: 100%;
  }
  .clm--w265 {
    width: 100%;
  }
  .clm--w836 {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .flex--sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.step3 {
  border-top: 1px solid #737373;
  border-bottom: 1px solid #737373;
  font-size: 16px;
}
.step3--01 {
  border-bottom: none;
}
@media screen and (max-width: 768px) {
  .step3 {
    font-size: calc(16px * 0.8);
    border-top: none;
    border-bottom: none;
  }
}
.step3__title {
  color: #fff;
  font-size: calc(20em / 16);
  line-height: 1em;
}
@media screen and (max-width: 768px) {
  .step3__title {
    display: inline-block;
    font-size: calc(20em / 16 * 0.8);
  }
}
.step3__headline {
  position: relative;
  padding-left: 50px;
  color: #11928c;
}
@media screen and (max-width: 768px) {
  .step3__headline {
    padding-left: 0;
    padding-right: 35px;
  }
}
.step3__headline--entry {
  letter-spacing: 0.37em;
}
.step3__headline .size--01 {
  font-size: calc(26em / 16);
  line-height: 0;
}
.step3__headline__line {
  height: 1px;
  width: 38px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #11928c;
}
@media screen and (max-width: 768px) {
  .step3__headline__line {
    display: none;
  }
}
.step3__text {
  color: #fff;
}
.step3__caption {
  font-size: calc(12em / 16);
}
.step3__gray {
  color: #a3a3a3;
}
@media screen and (max-width: 768px) {
  .step3__textBlock {
    padding-left: 35px;
    border-left: 1px solid #7d7d7d;
  }
}
.limitedContents {
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .limitedContents {
    font-size: calc(13px * 0.8);
  }
}
.limitedContents__title {
  color: #fff;
  font-size: calc(20em / 13);
  line-height: 1.3em;
}
@media screen and (max-width: 768px) {
  .limitedContents__title {
    display: inline-block;
  }
}
.limitedContents__new {
  position: relative;
}
.limitedContents__new::before {
  content: 'NEW';
  position: absolute;
  top: 10px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 20px;
  font-family: 'EB Garamond', serif;
  font-size: 12px;
  color: #fff;
  background-color: #11928c;
  line-height: 1em;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .limitedContents__new::before {
    top: 5px;
    font-size: 10px;
    width: 40px;
    height: 18px;
  }
}
.limitedContents .clm {
  width: calc(175% / 600 * 100);
}
@media screen and (max-width: 768px) {
  .lowBtn--limited {
    width: 100%;
  }
  .lowBtn--limited .lowBtn__border {
    padding: 10px;
  }
  .lowBtn--limited .lowBtn__text::after {
    display: none;
  }
}
.pickupContents {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .pickupContents {
    border-top: none;
    border-bottom: none;
    font-size: calc(16px * 0.8);
  }
}
.pickupContents__comingSoon {
  border: 1px solid #039089;
  padding: 10px;
  color: #039089;
  display: inline-block;
}
.pickupContents__title {
  font-size: calc(20em / 16);
  line-height: 1em;
}
@media screen and (max-width: 768px) {
  .pickupContents__title {
    display: inline-block;
  }
}
.pickupContents__suumo {
  font-size: 12px;
  padding-left: 45px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .pickupContents__suumo {
    padding-left: 20px;
  }
}
.pickupContents__suumo::before {
  content: url("../imgs/icn-suumo.png");
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #777;
}
@media screen and (max-width: 768px) {
  .pickupContents__suumo::before {
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
    -webkit-transform: translateY(-50%) scale(0.5);
    -ms-transform: translateY(-50%) scale(0.5);
    transform: translateY(-50%) scale(0.5);
  }
}
.pickupContents__headline {
  font-weight: 600;
}
.pickupContents__textBlock {
  -webkit-transform: translateY(-0.3em);
  -ms-transform: translateY(-0.3em);
  transform: translateY(-0.3em);
}
@media screen and (max-width: 768px) {
  .pickupContents__item {
    border-top: 1px solid #dcdcdc;
  }
  .pickupContents__item:last-child {
    border-bottom: 1px solid #dcdcdc;
  }
}
.toPrevPage,
.toNextPage {
  display: none;
}

/*# sourceMappingURL=style.css.map */