@charset 'utf-8';
.section--01 .headline--01 {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .section--01 .headline--01 {
    margin-bottom: 15px;
  }
}
.section--01 .text {
  text-align: center;
}
.section--01 .loginForm {
  width: 800px;
  margin: 140px auto 0;
  padding: 80px 0;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .section--01 .loginForm {
    width: 100%;
    margin: 70px auto 0;
    padding: 40px 0;
  }
  .section--01 .loginForm .row--05 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.section--01 .loginForm__password {
  width: 310px;
  height: 40px;
  margin-right: 10px;
  padding-left: 15px;
  background-color: #f9f9f9;
  border: 1px solid #bfbfbf;
  font-family: 'Noto Serif Japanese', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
}
@media screen and (max-width: 768px) {
  .section--01 .loginForm__password {
    width: 250px;
    height: 20px;
    margin: 0 0 20px 0;
  }
}
.section--01 .loginForm__submit {
  width: 145px;
  padding: 11px 0;
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
  cursor: pointer;
  font-family: 'Noto Serif Japanese', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  font-size: 16px;
/* spのフォントサイズを指定 */
  font-size: 13px;
  font-size: 4.0625vw;
  line-height: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (min-width: 769px) {
  .section--01 .loginForm__submit {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .section--01 .loginForm__submit {
    padding: 6px 0;
  }
}
.section--01 .loginForm__submit:hover {
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .section--01 .loginForm__submit:hover {
    opacity: 1;
  }
}

/*# sourceMappingURL=login.css.map */