@charset 'utf-8';
@media screen and (max-width: 768px) {
  .sp-nowrap {
    padding: 0;
  }
  .sp-nowrap--01 {
    width: calc(100% - 20px);
    margin: auto 0 auto auto;
  }
  .sp-nowrap--02 {
    width: calc(100% - 20px);
    margin: auto auto auto 0;
  }
}
.index---1 {
  z-index: -1;
}
.index--01 {
  z-index: 1;
}
.index--02 {
  z-index: 2;
}
.index--03 {
  z-index: 3;
}
.index--04 {
  z-index: 4;
}
.index--05 {
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .order--1st {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order--2st {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order--3st {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order--4st {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order--5st {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
}
.bg-gray {
  background-color: #f7f7f7;
}
.sup {
  font-size: 10px;
  vertical-align: 1em;
  letter-spacing: 0;
}
.ai-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.ai-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.aos-animate .topVisual__text {
  opacity: 1;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
@media screen and (max-width: 768px) {
  .aos-animate .topVisual__text {
    -webkit-transition-delay: 2.5s;
    -o-transition-delay: 2.5s;
    transition-delay: 2.5s;
  }
}
.usp {
  background: url("../imgs/bg-usp.jpg") no-repeat top center;
  background-size: cover;
  padding: 60px 0 110px;
}
@media screen and (max-width: 768px) {
  .usp {
    padding: 30px 0 40px;
    margin-top: 20px;
  }
}
.usp .caption {
  color: #e2e2e2;
  padding-top: 0.5em;
}
.usp__list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.usp__item {
  padding-right: 100px;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .usp__item {
    padding: 0;
  }
}
.usp__item:last-child {
  padding-right: 0;
}
.usp__text {
  color: #e2e2e2;
  font-size: 19px;
  line-height: calc((39em / 19));
  letter-spacing: 0.19em;
}
@media screen and (max-width: 768px) {
  .usp__text {
    font-size: calc(12vw / 320 * 100);
  }
}
.usp__text .size--01 {
  font-size: calc((19em / 19));
}
.usp__text .size--02 {
  font-size: calc((18em / 19));
  letter-spacing: 0;
}
.usp__text .size--03 {
  font-size: calc((21em / 19));
}
.usp__text .size--04 {
  font-size: calc((35em / 19));
  line-height: 0;
}
.usp__slash {
  position: absolute;
  right: 50px;
  top: 1.5em;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  width: 1px;
  height: 40px;
  background-color: #e2e2e2;
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .usp__slash {
    display: none;
  }
}
.entryBlock {
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
  margin-bottom: -50px;
  z-index: 3;
  position: relative;
}
@media screen and (max-width: 768px) {
  .entryBlock {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-bottom: 0;
    width: 100%;
  }
}
.entryBlock__inner {
  background-color: #eceff1;
}
.entryBlock .row--01 {
  padding: 45px 50px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .entryBlock .row--01 {
    padding: 25px 15px 40px;
  }
}
.entryBlock__title {
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.14em;
  color: rgba(17,17,17,0.5);
  padding-right: 40px;
}
@media screen and (max-width: 768px) {
  .entryBlock__title {
    padding-right: 15px;
    font-size: 12px;
  }
}
.entryBlock__headline {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.26em;
  color: #333;
}
@media screen and (max-width: 768px) {
  .entryBlock__headline {
    font-size: 12px;
  }
}
.clm--w350 {
  width: 350px;
}
.clm--w440 {
  width: 440px;
}
.clm--w480 {
  width: 480px;
}
.clm--w500 {
  width: 500px;
}
.clm--w640 {
  width: 640px;
}
.clm--w640 .caption {
  padding-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .clm--w350 {
    width: calc(350% / 600 * 100);
  }
  .clm--w440 {
    width: 100%;
  }
  .clm--w480 {
    width: 100%;
  }
  .clm--w500 {
    width: 100%;
  }
  .clm--w640 {
    width: calc(240% / 600 * 100);
  }
  .clm--w640 .caption {
    padding-bottom: 5px;
  }
}
.lowLink {
  width: 160px;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  overflow: hidden;
  font-size: 14px;
  z-index: 2;
/* &.btn a:hover:before {
    transform-origin right top;
  } */
}
@media screen and (max-width: 768px) {
  .lowLink {
    width: 155px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    font-size: 10px;
    margin: 30px auto 0;
  }
}
.lowLink a {
  display: block;
  padding: 70px 0;
  background-color: #039089;
  color: #fff;
  font-family: 'EB Garamond', serif;
  line-height: 1;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .lowLink a {
    padding: 15px 0;
  }
}
.lowLink a:before {
  background-color: #1e1e1e;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: -webkit-transform 0.5s, -webkit-transform-origin 0s;
  transition: -webkit-transform 0.5s, -webkit-transform-origin 0s;
  -o-transition: transform 0.5s, transform-origin 0s;
  transition: transform 0.5s, transform-origin 0s;
  transition: transform 0.5s, transform-origin 0s, -webkit-transform 0.5s, -webkit-transform-origin 0s, -ms-transform-origin 0s;
}
.lowLink a:hover .lowLink__text:before {
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
.lowLink a:hover .lowLink__text:after {
  border-bottom: 1px solid #1e1e1e;
  border-left: 1px solid #1e1e1e;
}
.lowLink__text {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.lowLink__text::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(225deg) translateY(-50%);
  -ms-transform: rotate(225deg) translateY(-50%);
  transform: rotate(225deg) translateY(-50%);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  left: 0;
  border-bottom: 1px solid #009e96;
  border-left: 1px solid #009e96;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.section--01 .headline--01 {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .section--01 .headline--01 {
    margin-bottom: 15px;
  }
}
.section--01 .text {
  font-family: 'Noto Serif Japanese', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  text-align: center;
}
.section--01 .login {
  margin-top: 140px;
}
@media screen and (max-width: 768px) {
  .section--01 .login {
    margin-top: 70px;
  }
}
.section--02 {
  padding-top: 80px;
}
.section--02 .clm--02 {
  padding-left: 100px;
}
@media screen and (max-width: 768px) {
  .section--02 .clm--02 {
    padding-left: 0;
  }
}
.section--03 {
  padding-top: 150px;
}
@media screen and (max-width: 768px) {
  .section--03 {
    padding-top: 70px;
  }
}
.section--03 .bg-gray {
  padding: 110px 0;
}
@media screen and (max-width: 768px) {
  .section--03 .bg-gray {
    padding: 50px 0 75px;
  }
}
.section--03 .clm--w480 {
  padding-bottom: 50px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .section--03 .clm--w480 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 55px;
  }
  .section--03 .clm--w480:first-child {
    padding-top: 0;
  }
}
.section--03 .lowBtn {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .section--03__image {
    width: calc(240% / 560 * 100);
    padding-top: 20px;
  }
}
.textBlock--01 {
  padding-top: 65px;
}
@media screen and (max-width: 768px) {
  .textBlock--01 {
    padding-top: 30px;
  }
}
.textBlock--01__headline {
  font-size: 24px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .textBlock--01__headline {
    font-size: 18px;
  }
}
.textBlock--01__headline .size--01 {
  font-size: calc((24em / 24));
}
.textBlock--01__headline .size--02 {
  font-size: calc((31em / 24));
}
.textBlock--01__text {
  padding-top: 30px;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .textBlock--01__text {
    padding-top: 30px;
    line-height: 2em;
    font-size: 12px;
  }
}
.textBlock--02__headline {
  padding-top: 30px;
  font-size: 22px;
  color: #000;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .textBlock--02__headline {
    width: 100%;
    font-size: 18px;
    text-align: justify;
    padding-top: 0;
  }
}
.textBlock--02__text {
  padding-top: calc(20px - 0.4em);
  font-size: 13px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .textBlock--02__text {
    width: calc(290% / 560 * 100);
    font-size: 12px;
    text-align: justify;
  }
}
.lowBtn {
  width: 160px;
  text-align: center;
}
.lowBtn__border {
  border: 1px solid #bfbfbf;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.lowBtn:hover .lowBtn__inner::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.lowBtn:hover .lowBtn__text {
  color: #fff;
}
.lowBtn:hover .lowBtn__text::after {
  border-bottom: 1px solid #1e1e1e;
  border-left: 1px solid #1e1e1e;
}
.lowBtn__inner {
  position: relative;
  padding: 5px 0;
  width: 100%;
  height: 100%;
}
.lowBtn__inner::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #009e96;
  z-index: -1;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.lowBtn__text {
  display: inline-block;
  position: relative;
  font-size: 10px;
  font-family: '游明朝', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
  line-height: 1em;
  letter-spacing: 0.14em;
  color: #000;
  padding-left: 2em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.lowBtn__text::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(225deg) translateY(-50%);
  -ms-transform: rotate(225deg) translateY(-50%);
  transform: rotate(225deg) translateY(-50%);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  left: 0;
  border-bottom: 1px solid #009e96;
  border-left: 1px solid #009e96;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .lowBtn__text::after {
    top: 50%;
    -webkit-transform: rotate(225deg) translateX(-10%);
    -ms-transform: rotate(225deg) translateX(-10%);
    transform: rotate(225deg) translateX(-10%);
  }
}
.usp .slick-dots {
  bottom: -30px;
}
.usp .slick-dots li button {
  width: 100%;
  height: 3px;
  border-radius: 0;
  padding: 0;
}
.usp .slick-dots li {
  width: calc(67% / 640 * 100);
}
.usp .slick-dots li button {
  position: relative;
}
.usp .slick-dots li button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform-origin 0s;
  transition: -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform-origin 0s;
  -o-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1), transform-origin 0s;
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1), transform-origin 0s;
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1), transform-origin 0s, -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform-origin 0s, -ms-transform-origin 0s;
  background-color: #06857f;
}
.usp .slick-dots li.slick-active button {
  position: relative;
  background: #9c9c9c;
}
.usp .slick-dots li.slick-active button::before {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.fade-in {
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
  opacity: 0;
}
.fade-in .lowBtn {
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
  opacity: 0;
}
[data-aos='blockMarkerCnt'].aos-animate .fade-in {
  opacity: 1;
}
[data-aos='blockMarkerCnt'].aos-animate .fade-in .lowBtn {
  opacity: 1;
}
.floorPlanList .row--in_one-third {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.row--in_one-third .clm,
.row--in_one-third li {
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  .row--in_one-third .clm,
  .row--in_one-third li {
    margin-right: 0;
    display: inline-block;
    width: 100%;
  }
}
.row--in_one-third .clm:last-child,
.row--in_one-third li:last-child {
  margin-right: 0;
}
.floorPlanList__headline {
  padding-bottom: 10px;
  font-size: 24px;
  letter-spacing: 0.15em;
  line-height: 1em;
  color: #009e96;
}
@media screen and (max-width: 768px) {
  .floorPlanList__headline {
    font-size: calc(24px * 0.8);
  }
}
.floorPlanList__headline .size--01 {
  font-size: calc(34em / 24);
  letter-spacing: 0.15em;
}
.floorPlanList__blockMarker-box {
  max-width: 500px;
  margin: 0 auto;
}
.floorPlanList .row--in_one-third li a {
  display: block;
}
@media screen and (max-width: 768px) {
  .floorPlanList .row--in_one-third li a {
    width: 100%;
  }
}
.floorPlanList__figure {
  margin-bottom: 0;
  padding: 20px 0;
  border-top: 1px solid #009e96;
  background-color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .floorPlanList__figure img {
    width: 100%;
  }
}
.floorPlanList__spec {
  font-size: 24px;
  font-family: 'EBGaramond', serif;
  letter-spacing: normal;
  background-color: #fff;
  padding: 0 5px 10px;
}
@media screen and (max-width: 768px) {
  .floorPlanList__spec {
    font-size: 18px;
  }
}
.floorPlanList__spec__left {
  width: 100%;
  letter-spacing: 0.15em;
}
.floorPlanList__spec__num {
  font-size: calc(34em / 24);
  line-height: 1;
}
.floorPlanList__spec__area {
  font-size: calc(16em / 24);
}
.floorPlanList__more {
  margin-top: 10px;
  position: relative;
  font-family: 'EBGaramond', serif;
  font-size: 12px;
  line-height: 1;
  text-align: right;
}
.floorPlanList__more span {
  display: inline-block;
  padding-left: 10px;
}
.floorPlanList__more:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 8px;
  border-bottom: 1px solid #dcdcdc;
/* z-index: -1; */
}
.floorPlanList__btn {
  margin: 0 auto;
}
.floorPlanList__btn li {
  width: 170px;
  margin: 0 40px;
}
.floorPlanList__btn li a {
  display: block;
  padding: 12px 0;
  background-color: #fff;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}
.floorPlanList__btn__print a {
  border: 1px solid #3f5d5b;
}
.floorPlanList__btn__print a::before {
  background-color: #3f5d5b;
}
.floorPlanList__btn__print a:hover {
  color: #3f5d5b;
}
.floorPlanList__btn__close a {
  border: 1px solid #333;
}
.floorPlanList__btn__close a::before {
  background-color: #333;
}
.floorPlanList__btn__close a:hover {
  color: #333;
}
.m0auto {
  margin: 0 auto;
}
.inline {
  display: inline-block;
}
.detailSpec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px solid #009e96;
  padding-top: 30px;
  font-size: 14px;
  line-height: 1em;
}
@media screen and (max-width: 768px) {
  .detailSpec {
    font-size: 12px;
    line-height: 2.4em;
  }
}
.detailSpec__type {
  width: 140px;
}
.detailSpec__ldk {
  width: 400px;
}
.detailSpec__basis {
  width: 220px;
}
.detailSpec__balcony {
  width: 230px;
}
@media screen and (max-width: 768px) {
  .detailSpec__type {
    width: 100%;
    text-align: center;
  }
  .detailSpec__ldk {
    width: 100%;
    text-align: center;
  }
  .detailSpec__basis {
    width: 100%;
    text-align: center;
  }
  .detailSpec__balcony {
    width: 100%;
    text-align: center;
  }
}
.detailSpec .size--01 {
  font-size: calc(34em / 14);
}
.detailSpec .size--02 {
  font-size: calc(24em / 14);
}
.detailSpec .size--03 {
  font-size: calc(16em / 14);
}
.detailSpec .size--04 {
  font-size: calc(12em / 14);
}
.madori {
  background-color: #f7f7f7;
  padding: 30px;
}
.madori__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.madori__legend {
  text-align: right;
}
.legend {
  display: block;
  width: 25px;
  height: 10px;
  margin-left: 10px;
  margin-right: 5px;
}
.legend--storage {
  background-color: #bfc5b7;
}
.legend--heater {
  background-color: #d5d8cf;
}
.commonBtn--green a::before {
  background-color: #3f5d5b;
}
.commonBtn--item {
  margin-right: 80px;
}
@media screen and (max-width: 768px) {
  .commonBtn--item {
    margin-right: 0;
  }
}
.commonBtn--item:last-child {
  margin-right: 0;
}
.btn a {
  position: relative;
  font-family: 'Noto Serif Japanese', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  z-index: 1;
}
.btn a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  z-index: -1;
}
.btn a:hover:before {
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}
@media screen and (max-width: 768px) {
  .btn a:hover:before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@media print {
  header,
  footer,
  .box-bukken-contact,
  .box-bukken,
  .ttl-property-main,
  .area-user-footer.area-user-footer-prpperty,
  .not-print,
  .print,
  .mainVisual,
  .btmCv,
  .commonBtn,
  .floorPlanList {
    display: none;
  }
}
.legend {
  display: block;
  width: 25px;
  height: 10px;
  margin-left: 10px;
  margin-right: 5px;
}
.legend--storage {
  background-color: #c6dee4;
}
.legend--heater {
  background-color: #f4e6e5;
}
.legend--light::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: url("../../assets/imgs/icn-light.png") no-repeat;
  background-size: 100%;
  background-position: center center;
}
.legend--window::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: url("../../assets/imgs/icn-window.png") no-repeat;
  background-size: 100%;
  background-position: center center;
}

/*# sourceMappingURL=plan.css.map */